<footer class="p-4">
    <p class="" style="font-size: .8rem;">©2023 Magang Portal</p>
    <p class="m-0" style="font-size: .8rem;"><a href="">Cookies, privacy and terms</a> - <a href="">Privacy center</a> - <a href="">Security</a> - <a href="">Contact</a></p>
</footer>