<section
  id="side-menu"
  class="d-flex flex-column p-3 text-bg-dark sticky-top"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <!-- <img src="/img/dumbbell.svg" alt="logo" width="35" /> -->
    <span class="fs-4 mx-3 d-flex align-items-center gap-3">Main Menu</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        href="/employer/jobs"
        class="nav-jobs nav-link active text-white active"
        aria-current="page"
        ><i class="uil uil-bag me-2"></i> Jobs
      </a>
    </li>
    <!-- <li class="nav-item">
      <a href="/members" class="nav-link nav-members text-white">
        <i class="uil uil-users-alt"></i> Members
      </a>
    </li>
    <li class="nav-item">
      <a href="/laporan" class="nav-laporan nav-link text-white">
        <i class="uil uil-clipboard-alt"></i> Cetak Laporan
      </a>
    </li> -->
  </ul>
</section>
