<%- include('./layouts/header'); -%>
<%- include('./layouts/jobseekerNavbar'); -%>

  <main class="px-5 d-flex justify-content-center my-5">
    <form id="signup-form" class="signup-form py-3 px-5">
        <p class="text-center fs-5 my-4">Daftar</p>
        <div class="row">
            <div class="col mb-3">
                <input name="firstname" type="text" class="form-control signup-jobseeker" placeholder="Nama Depan">
            </div>
            <div class="col mb-3">
                <input name="lastname" type="text" class="form-control signup-jobseeker" placeholder="Nama Belakang">
            </div>
        </div>
        <div class="mb-3">
            <input name="email" type="email" class="form-control signup-jobseeker" placeholder="me@example.com">
        </div>
        <div class="mb-3">
            <input name="password" type="password" class="form-control signup-jobseeker" placeholder="***************">
        </div>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
        </div>
        <p style="color: #0176de; font-size: .9rem; font-weight: 700;" class="my-2">Cukup Kuat</p>
        <p style="font-size: .75rem;">Kata sandi yang baik sulit ditebak. Gunakan kata-kata yang tidak umum atau beberapa lelucon, hURuf besar non-standar, ejaan kreatif, dan angka dan simbol yang tidak jelas.</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="font-size: .9rem;">
              Saya telah membaca dan menyetujui <a href="">Syarat dan Ketentuan</a>, <a href="">Kebijakan Privasi</a>, dan <a href="">Persetujuan Pengguna</a> Kalibrr.
            </label>
        </div>
        <button type="submit" class="btn btn-primary w-100 my-3" disabled>Daftar</button>
        <p class="text-center" style="font-size: .85rem;">Sudah mempunyai akun? <a href="/login">Masuk</a></p>
    </form>
  </main>

<%- include('./layouts/footer'); -%>
<script src="/js/jobseekerSignup.js"></script>
