<%- include('./layouts/header'); -%>
<%- include('./layouts/jobseekerNavbar'); -%>


  <main class="p-5 row apply gap-3">
    <section class="col-7">
        <div class="apply-contact">
            <p class="fs-4 fw-bold mb-5">Add your contact information</p>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fw-semibold fs-5">First Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fw-semibold fs-5">Last Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3">
                <label for="basic-url" class="form-label fw-semibold fs-5">Phone Number</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">+62</span>
                    <input type="text" class="form-control" placeholder="Phone Number" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fw-semibold fs-5">Email</label>
                <input class="form-control" type="text" value="assamim80@gmail.com" aria-label="readonly input example" readonly>
            </div>
            <div class="mb-3">
                <label for="exampleDataList" class="form-label fw-semibold fs-5">City, State</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList">
                <datalist id="datalistOptions">
                    <option value="San Francisco">
                    <option value="New York">
                    <option value="Seattle">
                    <option value="Los Angeles">
                    <option value="Chicago">
                </datalist>
            </div>
            <button type="button" class="btn btn-primary px-4 fs-5 mt-4">Continue</button>
        </div>
    </section>
    <section class="col apply-job">
        <div class="card-job">
            <p class="fw-bold m-0">Backend Developer (NodeJS)</p>
            <p class="text-secondary">PT Astra Digital Mobil (mobbi) - Jakarta</p>
            <hr>
            <p class="fw-bold">Job Description:</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium ea nam laboriosam labore, nulla, quos et vel reiciendis eius illum perspiciatis aliquid quibusdam architecto quaerat optio, culpa eos sint. Rem repellat laboriosam harum explicabo voluptates blanditiis quidem nostrum sit excepturi.</p>
        </div>
    </section>
  </main>
<%- include('./layouts/footer'); -%>
<script src="/js/jobBoard.js"></script>
