<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all'); -%>

<p id="user_id" style="display: none;"><%= id %></p>

<section id="main" class="w-[1036px] m-auto pb-14">
    <a href="/recruiter/post" class="text-teal-100 font-second text-sm font-medium flex items-center gap-2 pt-8 pb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <mask id="mask0_125_4676" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_125_4676)">
          <path d="M7.825 13L13.425 18.6L12 20L4 12L12 4L13.425 5.4L7.825 11H20V13H7.825Z" fill="#3DD1DB"/>
        </g>
      </svg> Back to Job Post
    </a>

    <p class="text-xl text-white font-bold">Applicants</p>

    <div class="flex gap-4 items-center pb-5 mt-5">
        <div class="w-[44px] h-[44px] rounded-lg overflow-hidden bg-gray-200 object-cover">
            <img id="org-logo" src="" alt="" style="width: 100%;">
        </div>
        <div class="">
            <div class="flex items-center gap-2">
                <p id="org-position" class="text-xl text-white font-bold">Software Engineer</p>
                <p class="text-red-500 bg-red-500/20 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">INTERNSHIP</p>
            </div>
            <div class="">
                <p id="org-name" class="text-white-60 font-second text-sm font-bold">Tokopedia</p>
                <!-- VERIFIED -->
            </div>
        </div>
    </div>

    <div class="flex justify-between items-center">
        <div class="w-max flex gap-16 text-white-60 text-sm font-normal bg-card-grey rounded-lg py-3 px-4 border border-[#3b3b3b]">
            <a id="menu-waiting" href="/recruiter/applicants/1/waiting" class="flex items-center gap-1 cursor-pointer">TO BE REVIEWED <span></span></a>
            <a id="menu-shortlisted" href="/recruiter/applicants/1/shortlisted" class="flex items-center gap-1 cursor-pointer">SHORTLISTED <span></span></a>
            <a id="menu-interview" href="/recruiter/applicants/1/interview" class="flex items-center gap-1 cursor-pointer text-white font-bold">INTERVIEW <span></span></a>
            <a id="menu-offering" href="/recruiter/applicants/1/offering" class="flex items-center gap-1 cursor-pointer">OFFERING <span></span></a>
            <a id="menu-rejected" href="/recruiter/applicants/1/rejected" class="flex items-center gap-1 cursor-pointer">REJECTED <span></span></a>
        </div>
        <div class="flex gap-3 items-center">
            <button class="px-3 py-2.5 bg-[#FC4545]/20 rounded-lg font-second text-sm font-normal text-[#FC4545] flex items-center gap-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M5.33332 15.8334L4.16666 14.6667L8.83332 10L4.16666 5.33335L5.33332 4.16669L9.99999 8.83335L14.6667 4.16669L15.8333 5.33335L11.1667 10L15.8333 14.6667L14.6667 15.8334L9.99999 11.1667L5.33332 15.8334Z" fill="#FC4545"/>
              </svg> Reject All</button>
            <button class="px-3 py-2.5 bg-[#2BDE68]/20 rounded-lg font-second text-sm font-normal text-[#2BDE68] flex items-center gap-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M7.95834 15L3.20834 10.25L4.39584 9.06252L7.95834 12.625L15.6042 4.97919L16.7917 6.16669L7.95834 15Z" fill="#2BDE68"/>
              </svg> Process All</button>
        </div>
    </div>

    <div class="mt-3 bg-darkest-grey rounded-lg">
        <div class="applicants-grid text-sm text-white-60 font-normal py-3 px-3">
            <p><input type="checkbox" name="" id="" class="bg-transparent rounded focus:ring-0"></p>
            <p></p>
            <p>NAME</p>
            <p>INTERVIEW DATE</p>
            <p>EXPERIENCE</p>
            <p>UNIVERSITY</p>
            <p>EDU STATUS</p>
            <p>ACTION</p>
        </div>
        <div id="applicants-list" class="divide-y divide-header">
            <!-- <div class="applicants-grid text-sm px-3 py-2 text-white font-second items-center hover:bg-teal-100/10 group">
                <p><input type="checkbox" name="" id="" class="bg-transparent rounded focus:ring-0"></p>
                <div class="w-[24px] h-[24px] rounded-full overflow-hidden bg-gray-200 object-cover">
                    <img id="post-img" src="/img/Tokped.svg" alt="" style="width: 100%;">
                </div>
                <a href="#" class="font-bold">Nargacuga</a>
                <p>20 Dec 2023 • 14:00</p>
                <p>12 months</p>
                <p>Teknik Informatika <br> <span class="text-xs text-white-60">Universitas Indraprasta</span></p>
                <p>Freshgraduate</p>
                <div class="flex gap-1 items-center opacity-0 group-hover:opacity-100">
                    <button class="px-1 py-1 w-[24px] h-[24px] bg-teal-100 rounded-lg font-second text-sm font-normal text-[#FC4545] flex items-center gap-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M3.33333 14.6667C2.96667 14.6667 2.65278 14.5361 2.39167 14.275C2.13056 14.0139 2 13.7 2 13.3333V4.00001C2 3.63334 2.13056 3.31945 2.39167 3.05834C2.65278 2.79723 2.96667 2.66668 3.33333 2.66668H4V2.00001C4 1.81112 4.06389 1.65279 4.19167 1.52501C4.31944 1.39723 4.47778 1.33334 4.66667 1.33334C4.85556 1.33334 5.01389 1.39723 5.14167 1.52501C5.26944 1.65279 5.33333 1.81112 5.33333 2.00001V2.66668H10.6667V2.00001C10.6667 1.81112 10.7306 1.65279 10.8583 1.52501C10.9861 1.39723 11.1444 1.33334 11.3333 1.33334C11.5222 1.33334 11.6806 1.39723 11.8083 1.52501C11.9361 1.65279 12 1.81112 12 2.00001V2.66668H12.6667C13.0333 2.66668 13.3472 2.79723 13.6083 3.05834C13.8694 3.31945 14 3.63334 14 4.00001V6.68334C14 6.87223 13.9361 7.03057 13.8083 7.15834C13.6806 7.28612 13.5222 7.35001 13.3333 7.35001C13.1444 7.35001 12.9861 7.28612 12.8583 7.15834C12.7306 7.03057 12.6667 6.87223 12.6667 6.68334V6.66668H3.33333V13.3333H7.33333C7.52222 13.3333 7.68056 13.3972 7.80833 13.525C7.93611 13.6528 8 13.8111 8 14C8 14.1889 7.93611 14.3472 7.80833 14.475C7.68056 14.6028 7.52222 14.6667 7.33333 14.6667H3.33333ZM9.33333 14V12.9C9.33333 12.8111 9.35 12.725 9.38333 12.6417C9.41667 12.5583 9.46667 12.4833 9.53333 12.4167L13.0167 8.95001C13.1167 8.85001 13.2278 8.77779 13.35 8.73334C13.4722 8.6889 13.5944 8.66668 13.7167 8.66668C13.85 8.66668 13.9778 8.69168 14.1 8.74168C14.2222 8.79168 14.3333 8.86668 14.4333 8.96668L15.05 9.58334C15.1389 9.68334 15.2083 9.79446 15.2583 9.91668C15.3083 10.0389 15.3333 10.1611 15.3333 10.2833C15.3333 10.4056 15.3111 10.5306 15.2667 10.6583C15.2222 10.7861 15.15 10.9 15.05 11L11.5833 14.4667C11.5167 14.5333 11.4417 14.5833 11.3583 14.6167C11.275 14.65 11.1889 14.6667 11.1 14.6667H10C9.81111 14.6667 9.65278 14.6028 9.525 14.475C9.39722 14.3472 9.33333 14.1889 9.33333 14ZM13.7167 10.9333L14.3333 10.2833L13.7167 9.66668L13.0833 10.3L13.7167 10.9333Z" fill="#243031"/>
                      </svg></button>
                    <button class="px-1 py-1 w-[24px] h-[24px] bg-[#FC4545]/20 rounded-lg font-second text-sm font-normal text-[#FC4545] flex items-center gap-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5.33332 15.8334L4.16666 14.6667L8.83332 10L4.16666 5.33335L5.33332 4.16669L9.99999 8.83335L14.6667 4.16669L15.8333 5.33335L11.1667 10L15.8333 14.6667L14.6667 15.8334L9.99999 11.1667L5.33332 15.8334Z" fill="#FC4545"/>
                      </svg></button>
                    <button class="px-1 py-1 w-[24px] h-[24px] bg-[#2BDE68]/20 rounded-lg font-second text-sm font-normal text-[#2BDE68] flex items-center gap-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M7.95834 15L3.20834 10.25L4.39584 9.06252L7.95834 12.625L15.6042 4.97919L16.7917 6.16669L7.95834 15Z" fill="#2BDE68"/>
                      </svg></button>
                </div>
            </div> -->
            <div class="text-center py-10 px-3 text-xs font-medium font-second text-white-60">No Interview Yet</div>
        </div>
    </div>
    <p class="font-second text-xs font-bold text-white-60 mt-4 text-center">Showing 4 out of 4</p>
</section>

<section id="popup" class="hidden fixed top-0 bottom-0 left-0 right-0 bg-darkest-grey/50 flex items-center justify-center h-100">
    <div class="hidden popup-create-interview w-[720px] m-auto absolute z-10 max-h-[500px] overflow-y-scroll rounded-2xl border-2 border-header">
        <div class="header bg-header flex justify-between px-5 py-3 items-center">
            <p class="font-normal text-white text-base tracking-[1.6px] flex items-center gap-2">SCHEDULE FOR INTERVIEW</p>
            <p class="close-x cursor-pointer font-second font-medium text-sm text-teal-100">Close x</p>
        </div>
        <form id="form-schedule-interview">
            <div class="body bg-body rounded-b-2xl min-h-[200px] overflow-y-scroll">
                <div class="divide-y divide-header">
                    <div class="flex items-center gap-3 p-5">
                        <div class="w-[40px] h-[40px] rounded-full overflow-hidden bg-gray-200 object-cover">
                            <img id="interview-seeker-img" src="/img/Tokped.svg" alt="" style="width: 100%;">
                        </div>
                        <p id="interview-seeker-name" class="text-lg font-bold text-white">Assami Muzaki</p>
                    </div>
                    <div class="p-5">
                        <p class="text-lg font-bold text-white">Date & Time</p>
                        <div class="flex items-center gap-5">
                            <label class="">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">DATE*</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input name="interviewDate" type="date" placeholder="09-14-2001" class="block w-[240px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white
                                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                    focus:invalid:border-[#FC4545] focus:invalid:ring-[#FC4545] border-0
                                "/>
                            </label>
                            <label class="">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">START TIME</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input name="interviewDate" type="time" placeholder="" class="block w-[140px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white
                                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                    focus:invalid:border-[#FC4545] focus:invalid:ring-[#FC4545] border-0
                                "/>
                            </label>
                            <label class="">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">END TIME</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input name="interviewDate" type="time" placeholder="" class="block w-[140px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white
                                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                    focus:invalid:border-[#FC4545] focus:invalid:ring-[#FC4545] border-0
                                "/>
                            </label>
                        </div>
                    </div>
                    <div class="p-5">
                        <p class="text-lg font-bold text-white">Location</p>
                        <div class="flex items-center gap-5">
                            <label class="block">
                                <span class="label">INTERVIEW TYPE</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <select id="popup-org-size" name="interviewType" class="block border-0 w-[160px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white focus:ring-white-60">
                                    <option value="Online" selected>Online</option>
                                    <option value="Offline">Offline</option>
                                </select>
                            </label>
                            <label class="">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">MEETING LINK*</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input name="interviewLink" type="text" placeholder="" class="block w-[360px] px-3 py-[10px] font-second bg-header rounded-lg text-sm placeholder-white-60 text-white
                                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                    focus:invalid:border-[#FC4545] focus:invalid:ring-[#FC4545] border-0
                                "/>
                            </label>
                        </div>
                    </div>
                    <div class="p-5">
                        <p class="text-lg font-bold text-white">Message / Notes</p>
                        <p class="text-sm text-white-60 font-normal font-second mb-3">Send a personalized message to your candidate to further describe the interview details.</p>
                        <textarea name="interviewMessage" id="message" rows="4" class="direct-list block resize-none px-3 py-[10px] w-full h-[240px] font-second text-sm text-white bg-header rounded-lg border-none focus:ring-white-60" placeholder="Write your message here..."></textarea>
                    </div>
                </div>
                <div class="flex gap-3 justify-end mt-8 mb-4 mx-5">
                    <button type="button" class="close-x rounded-lg bg-teal-8 text-teal-100 py-2 px-10 font-second text-base">Cancel</button>
                    <button type="submit" class="rounded-lg bg-teal-100 text-teal-8 py-2 px-14 font-second text-base">Schedule</button>
                </div>
            </div>
        </form>
    </div>

    <div class="hidden popup-edit-interview w-[720px] m-auto absolute z-10 max-h-[500px] overflow-y-scroll rounded-2xl border-2 border-header">
        <div class="header bg-header flex justify-between px-5 py-3 items-center">
            <p class="font-normal text-white text-base tracking-[1.6px] flex items-center gap-2">SCHEDULE FOR INTERVIEW</p>
            <p class="close-x cursor-pointer font-second font-medium text-sm text-teal-100">Close x</p>
        </div>
        <form id="form-edit-schedule-interview">
            <div class="body bg-body rounded-b-2xl min-h-[200px] overflow-y-scroll">
                <div class="divide-y divide-header">
                    <div class="flex items-center gap-3 p-5">
                        <div class="w-[40px] h-[40px] rounded-full overflow-hidden bg-gray-200 object-cover">
                            <img id="interview-seeker-img-edit" src="/img/Tokped.svg" alt="" style="width: 100%;">
                        </div>
                        <p id="interview-seeker-name-edit" class="text-lg font-bold text-white">Assami Muzaki</p>
                    </div>
                    <div class="p-5">
                        <p class="text-lg font-bold text-white">Date & Time</p>
                        <div class="flex items-center gap-5">
                            <label class="">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">DATE*</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input id="interviewDate" name="interviewDate" type="date" placeholder="09-14-2001" class="block w-[240px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white
                                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                    focus:invalid:border-[#FC4545] focus:invalid:ring-[#FC4545] border-0
                                "/>
                            </label>
                            <label class="">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">START TIME</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input id="interviewStartTime" name="interviewDate" type="time" placeholder="" class="block w-[140px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white
                                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                    focus:invalid:border-[#FC4545] focus:invalid:ring-[#FC4545] border-0
                                "/>
                            </label>
                            <label class="">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">END TIME</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input id="interviewEndTime" name="interviewDate" type="time" placeholder="" class="block w-[140px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white
                                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                    focus:invalid:border-[#FC4545] focus:invalid:ring-[#FC4545] border-0
                                "/>
                            </label>
                        </div>
                    </div>
                    <div class="p-5">
                        <p class="text-lg font-bold text-white">Location</p>
                        <div class="flex items-center gap-5">
                            <label class="block">
                                <span class="label">INTERVIEW TYPE</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <select name="interviewType" class="block border-0 w-[160px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white focus:ring-white-60">
                                    <option value="Online" selected>Online</option>
                                    <option value="Offline">Offline</option>
                                </select>
                            </label>
                            <label class="">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">MEETING LINK*</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input name="interviewLink" type="text" placeholder="" class="block w-[360px] px-3 py-[10px] font-second bg-header rounded-lg text-sm placeholder-white-60 text-white
                                    focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                    focus:invalid:border-[#FC4545] focus:invalid:ring-[#FC4545] border-0
                                "/>
                            </label>
                        </div>
                    </div>
                    <div class="p-5">
                        <p class="text-lg font-bold text-white">Message / Notes</p>
                        <p class="text-sm text-white-60 font-normal font-second mb-3">Send a personalized message to your candidate to further describe the interview details.</p>
                        <textarea name="interviewMessage" id="message" rows="4" class="direct-list block resize-none px-3 py-[10px] w-full h-[240px] font-second text-sm text-white bg-header rounded-lg border-none focus:ring-white-60" placeholder="Write your message here..."></textarea>
                    </div>
                </div>
                <div class="flex gap-3 justify-end mt-8 mb-4 mx-5">
                    <button type="button" class="close-x rounded-lg bg-teal-8 text-teal-100 py-2 px-10 font-second text-base">Cancel</button>
                    <button type="submit" class="rounded-lg bg-teal-100 text-teal-8 py-2 px-14 font-second text-base">Schedule</button>
                </div>
            </div>
        </form>
    </div>

    <div id="popup-offering-reject" class="hidden w-[240px] m-auto absolute z-10 min-h-[160px] overflow-y-scroll rounded-2xl border-2 border-header">
        <form id="form-reject">
            <div class="body bg-body rounded-b-2xl min-h-[100px] overflow-y-scroll p-3">
                <div class="">
                    <p class="flex items-center gap-1 text-sm font-bold text-white mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M4.26668 12.6667L3.33334 11.7334L7.06668 8.00004L3.33334 4.26671L4.26668 3.33337L8.00001 7.06671L11.7333 3.33337L12.6667 4.26671L8.93334 8.00004L12.6667 11.7334L11.7333 12.6667L8.00001 8.93337L4.26668 12.6667Z" fill="#FC4545"/>
                      </svg> Select Reason</p>
                    <div class="flex flex-col items-center gap-2">
                        <div class="w-full rounded-lg bg-darkest-grey flex items-center gap-4 py-2.5 px-3">
                            <input class="bg-darkest-grey focus:ring-0 border-2" type="radio" name="rejectedMessage" id="Unsuitable education" value="Unsuitable education">
                            <label for="Unsuitable education" class="text-xs font-second text-white-60">Unsuitable education</label>
                        </div>
                        <div class="w-full rounded-lg bg-darkest-grey flex items-center gap-4 py-2.5 px-3">
                            <input class="bg-darkest-grey focus:ring-0 border-2" type="radio" name="rejectedMessage" id="Lack of work experience" value="Lack of work experience">
                            <label for="Lack of work experience" class="text-xs font-second text-white-60">Lack of work experience</label>
                        </div>
                        <div class="w-full rounded-lg bg-darkest-grey flex items-center gap-4 py-2.5 px-3">
                            <input class="bg-darkest-grey focus:ring-0 border-2" type="radio" name="rejectedMessage" id="Lack of required skills" value="Lack of required skills">
                            <label for="Lack of required skills" class="text-xs font-second text-white-60">Lack of required skills</label>
                        </div>
                        <div class="w-full rounded-lg bg-darkest-grey flex items-center gap-4 py-2.5 px-3">
                            <input class="bg-darkest-grey focus:ring-0 border-2" checked type="radio" name="rejectedMessage" id="Not qualified" value="Not qualified">
                            <label for="Not qualified" class="text-xs font-second text-white-60">Not qualified</label>
                        </div>
                    </div>
                </div>
                <div class="mt-3 mx-auto mb-2">
                    <button type="submit" class="w-full rounded-lg bg-teal-100 text-teal-8 py-2 font-second text-xs">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</section>



<%- include('./layouts/footer'); -%>
<script src="/js/RecruiterApplicants-Interview.js"></script>
<script src="/js/NavbarRecruiterRecruiter.js"></script>
