<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all') -%>

<p id="user_id" style="display: none;"><%= id %></p>

<section id="main" class="w-[1036px] min-h-[72vh] m-auto pb-14">
    <div class="menu flex px-5 py-3 rounded-lg gap-10 bg-card-grey border-[1px] border-[#3b3b3b] mt-6 mb-5 text-white-60 font-normal">
        <a href="/internships/" id="menu-foryou" class="cursor-pointer">FOR YOU ✨</a>
        <a href="/internships/explore" id="menu-explore" class="cursor-pointer selected">EXPLORE</a>
        <a href="/internships/saved" id="menu-saved" class="cursor-pointer">SAVED</a>
        <a href="/internships/applied" id="menu-applied" class="cursor-pointer">APPLIED (2)</a>
    </div>
    <section id="explore">
        <p class="text-xl text-white font-bold">Browse any vacancies here.</p>
        <p class="font-second text-base text-medium text-white-60">Here, you can use the search bar to look for companies or job keywords, or use the filters to narrow down the vacancies to your desire!</p>
        <div class="grid grid-cols-[.3fr_1fr] gap-4 mt-6">

            <!-- SIDEBAR -->

            <div class="sidebar flex flex-col divide-y divide-header">
                <div class="explore-search mb-3 flex items-center gap-2 py-[10px] px-3 rounded-lg bg-darkest-grey border-[1px] border-[#3b3b3b] w-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M16.3333 17.5L11.0833 12.25C10.6667 12.5833 10.1875 12.8472 9.64583 13.0417C9.10417 13.2361 8.52778 13.3333 7.91667 13.3333C6.40278 13.3333 5.12153 12.809 4.07292 11.7604C3.02431 10.7118 2.5 9.43056 2.5 7.91667C2.5 6.40278 3.02431 5.12153 4.07292 4.07292C5.12153 3.02431 6.40278 2.5 7.91667 2.5C9.43056 2.5 10.7118 3.02431 11.7604 4.07292C12.809 5.12153 13.3333 6.40278 13.3333 7.91667C13.3333 8.52778 13.2361 9.10417 13.0417 9.64583C12.8472 10.1875 12.5833 10.6667 12.25 11.0833L17.5 16.3333L16.3333 17.5ZM7.91667 11.6667C8.95833 11.6667 9.84375 11.3021 10.5729 10.5729C11.3021 9.84375 11.6667 8.95833 11.6667 7.91667C11.6667 6.875 11.3021 5.98958 10.5729 5.26042C9.84375 4.53125 8.95833 4.16667 7.91667 4.16667C6.875 4.16667 5.98958 4.53125 5.26042 5.26042C4.53125 5.98958 4.16667 6.875 4.16667 7.91667C4.16667 8.95833 4.53125 9.84375 5.26042 10.5729C5.98958 11.3021 6.875 11.6667 7.91667 11.6667Z" fill="#3DD1DB"/>
                    </svg>
                    <input id="explore-search-input" class="w-full p-0 bg-transparent outline-none border-none focus:border-none focus:outline-none focus:ring-0 text-xs font-medium placeholder-white-60 text-white-60 font-second" type="text" name="" id="" placeholder="Search for jobs, companies">
                </div>
                <div class="explore-filter py-4">
                    <div class="header flex justify-between">
                        <p class="text-white font-bold text-sm">FILTER</p>
                        <p id="explore-filter-reset" class="text-xs font-second font-medium text-teal-100 cursor-pointer">Reset</p>
                    </div>
                    <div class="body">
                        <div class="mt-3 flex flex-col gap-2">
                            <select name="" id="explore-filter-location" class="w-full border-0 h-10 rounded-lg px-3 py-2.5 bg-darkest-grey text-white-60 font-second font-medium text-xs">
                                <option value="" selected>Location</option>
                            </select>
                            <select name="" id="" class="w-full border-0 h-10 rounded-lg px-3 py-2.5 bg-darkest-grey text-white-60 font-second font-medium text-xs">
                                <option value="" selected>Work Time</option>
                            </select>
                            <select name="" id="" class="w-full border-0 h-10 rounded-lg px-3 py-2.5 bg-darkest-grey text-white-60 font-second font-medium text-xs">
                                <option value="" selected>Salary Range</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="explore-sorts py-4">
                    <div class="header flex justify-between">
                        <p class="text-white font-bold text-sm">SORTS</p>
                        <p id="explore-sort-reset" class="text-xs font-second font-medium text-teal-100 cursor-pointer">Reset</p>
                    </div>
                    <div class="body">
                        <div class="mt-3 flex flex-col gap-2">
                            <select name="" id="" class="w-full border-0 h-10 rounded-lg px-3 py-2.5 bg-darkest-grey text-white-60 font-second font-medium text-xs">
                                <option value="" selected>Base on Relevance</option>
                            </select>
                            <select name="" id="" class="w-full border-0 h-10 rounded-lg px-3 py-2.5 bg-darkest-grey text-white-60 font-second font-medium text-xs">
                                <option value="" selected>Base on Posted Date</option>
                            </select>
                            <select name="" id="" class="w-full border-0 h-10 rounded-lg px-3 py-2.5 bg-darkest-grey text-white-60 font-second font-medium text-xs">
                                <option value="" selected>Base on Salary</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainbar w-full">
                <p class="text-white-60 font-second text-xs font-medium mb-3">Showing <span id="cards-count">4</span> results out of<span> - </span>total</p>
                <div id="cards-grid" class="grid grid-cols-2 gap-4">
                    <!-- CARD HERE -->
                </div>
            </div>
        </div>
    </section>
</section>

<%- include('./layouts/footer'); -%>
<script src="/js/SeekerInternshipPage-Explore.js"></script>
<script src="/js/NavbarRecruiterSeeker.js"></script>
