<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all') -%>

<p id="user_id" style="display: none;"><%= id %></p>

<section id="main" class="w-[1036px] min-h-[72vh] m-auto pb-14">
    <div class="menu flex px-5 py-3 rounded-lg gap-10 bg-card-grey border-[1px] border-[#3b3b3b] mt-6 mb-5 text-white-60 font-normal">
        <a href="/internships/" id="menu-foryou" class="cursor-pointer">FOR YOU ✨</a>
        <a href="/internships/explore" id="menu-explore" class="cursor-pointer">EXPLORE</a>
        <a href="/internships/saved" id="menu-saved" class="cursor-pointer">SAVED</a>
        <a href="/internships/applied" id="menu-applied" class="cursor-pointer selected">APPLIED (2)</a>
    </div>
    <section id="applied">
        <p class="text-xl text-white font-bold">Applied Vacancies</p>
        <p class="font-second text-base text-medium text-white-60">You can track your applications through this page!</p>
        <div class="grid grid-cols-[.3fr_1fr] gap-4 mt-6">
            <div class="sidebar flex flex-col">
                <p class="text-white mb-3 font-bold text-sm">FILTERS</p>
                <label for="radio-1" class="flex items-center justify-between mb-2 text-white-60 font-second text-xs font-medium py-3 px-3 bg-darkest-grey rounded-lg">All Applied
                    <input id="radio-1" type="radio" value="" name="applied_filters" class="appearance-none w-3 h-3 text-blue-600 bg-darkest-grey border-2 border-[#aaaaaa] checked:bg-teal-100 focus:ring-0 focus:border-0 focus:outline-none" checked>
                </label>
                <label for="radio-2" class="flex items-center justify-between mb-2 text-white-60 font-second text-xs font-medium py-3 px-3 bg-darkest-grey rounded-lg">Scheduled for interview (1)
                    <input id="radio-2" type="radio" value="" name="applied_filters" class="appearance-none w-3 h-3 text-blue-600 bg-darkest-grey border-2 border-[#aaaaaa] checked:bg-teal-100 focus:ring-0 focus:border-0 focus:outline-none">
                </label>
                <label for="radio-3" class="flex items-center justify-between mb-2 text-white-60 font-second text-xs font-medium py-3 px-3 bg-darkest-grey rounded-lg">Viewed by recruiter (1)
                    <input id="radio-3" type="radio" value="" name="applied_filters" class="appearance-none w-3 h-3 text-blue-600 bg-darkest-grey border-2 border-[#aaaaaa] checked:bg-teal-100 focus:ring-0 focus:border-0 focus:outline-none">
                </label>
                <label for="radio-4" class="flex items-center justify-between mb-2 text-white-60 font-second text-xs font-medium py-3 px-3 bg-darkest-grey rounded-lg">Waiting to be reviewed (1)
                    <input id="radio-4" type="radio" value="" name="applied_filters" class="appearance-none w-3 h-3 text-blue-600 bg-darkest-grey border-2 border-[#aaaaaa] checked:bg-teal-100 focus:ring-0 focus:border-0 focus:outline-none">
                </label>
                <label for="radio-5" class="flex items-center justify-between mb-2 text-white-60 font-second text-xs font-medium py-3 px-3 bg-darkest-grey rounded-lg">Rejected (1)
                    <input id="radio-5" type="radio" value="" name="applied_filters" class="appearance-none w-3 h-3 text-blue-600 bg-darkest-grey border-2 border-[#aaaaaa] checked:bg-teal-100 focus:ring-0 focus:border-0 focus:outline-none">
                </label>
            </div>
            <div class="mainbar w-full">
                <div id="cards-grid" class="flex flex-col gap-4">
                    <!-- HERE -->
                </div>
            </div>
        </div>
    </section>
</section>

<section id="popup" class="hidden fixed top-0 bottom-0 left-0 right-0 bg-darkest-grey/50 flex items-center justify-center h-100">
    <!-- POPUP BASIC INFORMATION -->
    <div id="popup-view-detail" class="hidden border-2 border-header w-[720px]">
        <div class="header bg-header rounded-t-2xl flex justify-between px-5 py-3 items-center">
            <p class="font-normal text-white text-base tracking-[1.6px] flex items-center gap-2">VIEWING APPLICATION STATUS</p>
            <p class="close-x cursor-pointer font-second font-medium text-sm text-teal-100">Close x</p>
        </div>
        <div class="body bg-body rounded-b-2xl min-h-[200px] max-h-[400px] overflow-y-scroll">
            <div class="divide-y-2 divide-header">
                <div class="flex gap-3 p-5">
                    <div class="w-[44px] h-[44px] rounded-lg overflow-hidden bg-white">
                        <img id="popup-post-org-logo" src="/img/Tokped.svg" alt="" class="w-full h-full object-cover">
                    </div>
                    <div class="head">
                        <p id="popup-post-position" class="text-white text-base font-extrabold">Backend Developer</p>
                        <div class="flex items-center gap-2">
                            <p id="popup-post-org-name" class="flex items-center gap-1 text-xs font-second font-bold text-white-60">Hup!</p>
                            <p class="font-second text-xs text-white-60 font-medium">-</p>
                            <p class="font-second text-xs text-white-60 font-medium">Resp. Time ~3.1 days</p>
                        </div>
                    </div>
                </div>
                <div id="popup-view-detail-status" class="p-5 flex flex-col gap-6">
                    <!-- HERE -->
                </div>
            </div>
        </div>
    </div>
</section>

<p class="bg-[#2ade68] border-[#294e37] text-[#2ade68] hidden bg-[#222222] w-[20px] h-[20px] border-4 bg-teal-100 border-[#2f4c4e] bg-[#2ade68] border-[#294e37] bg-[#FC4545] border-[#543030]"></p>

<%- include('./layouts/footer'); -%>
<script src="/js/SeekerInternshipPage-Applied.js"></script>
<script src="/js/NavbarRecruiterSeeker.js"></script>
