<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar'); -%>

<section id="main" class="px-[200px] pb-20">
    <p class="pb-3 pt-8 text-white text-xl font-bold">Hi, Jarwo</p>
    <div class="grid grid-cols-[1fr_.6fr] gap-5">
        <div class="flex flex-col gap-3">
            <div class="basic-info rounded-2xl">
                <div class="w-100 bg-header flex items-center justify-between px-5 py-3 rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M9.99992 10C9.08325 10 8.29853 9.67362 7.64575 9.02084C6.99297 8.36807 6.66658 7.58334 6.66658 6.66668C6.66658 5.75001 6.99297 4.96529 7.64575 4.31251C8.29853 3.65973 9.08325 3.33334 9.99992 3.33334C10.9166 3.33334 11.7013 3.65973 12.3541 4.31251C13.0069 4.96529 13.3333 5.75001 13.3333 6.66668C13.3333 7.58334 13.0069 8.36807 12.3541 9.02084C11.7013 9.67362 10.9166 10 9.99992 10ZM4.99992 16.6667C4.54159 16.6667 4.14922 16.5035 3.82284 16.1771C3.49645 15.8507 3.33325 15.4583 3.33325 15V14.3333C3.33325 13.8611 3.45478 13.4271 3.69784 13.0313C3.94089 12.6354 4.26381 12.3333 4.66659 12.125C5.5277 11.6945 6.4027 11.3715 7.29158 11.1563C8.18047 10.941 9.08325 10.8333 9.99992 10.8333C10.9166 10.8333 11.8194 10.941 12.7083 11.1563C13.5971 11.3715 14.4721 11.6945 15.3333 12.125C15.736 12.3333 16.0589 12.6354 16.302 13.0313C16.5451 13.4271 16.6666 13.8611 16.6666 14.3333V15C16.6666 15.4583 16.5034 15.8507 16.177 16.1771C15.8506 16.5035 15.4583 16.6667 14.9999 16.6667H4.99992Z" fill="white"/>
                      </svg> BASIC INFORMATION</p>
                    <p id="edit-basic-info" class="cursor-pointer text-teal-100 text-xs font-second flex items-center gap-2">Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M12.8667 6.45001L10.0333 3.65001L10.9667 2.71668C11.2222 2.46112 11.5361 2.33334 11.9083 2.33334C12.2806 2.33334 12.5944 2.46112 12.85 2.71668L13.7833 3.65001C14.0389 3.90557 14.1722 4.2139 14.1833 4.57501C14.1944 4.93612 14.0722 5.24445 13.8167 5.50001L12.8667 6.45001ZM2.66667 14.5C2.47778 14.5 2.31944 14.4361 2.19167 14.3083C2.06389 14.1806 2 14.0222 2 13.8333V11.95C2 11.8611 2.01667 11.775 2.05 11.6917C2.08333 11.6083 2.13333 11.5333 2.2 11.4667L9.06667 4.60001L11.9 7.43334L5.03333 14.3C4.96667 14.3667 4.89167 14.4167 4.80833 14.45C4.725 14.4833 4.63889 14.5 4.55 14.5H2.66667Z" fill="#3DD1DB"/>
                      </svg></p>
                </div>
                <div class="w-100 p-5 pb-6 bg-body rounded-b-2xl">
                    <div class="flex items-start gap-5">
                        <img src="/img/Ellipse 3.svg" alt="">
                        <div class="divide-y divide-header">
                            <div class="mb-4">
                                <p class="font-bold text-xl text-white">Jarwo Slebew</p>
                                <p class="text-sm text-white-60 font-second font-normal">Current Position</p>
                            </div>
                            <div class="grid grid-cols-2 gap-x-9 gap-y-4 pt-4 text-white">
                                <div class="">
                                    <span class="text-white-60 font-normal text-sm">EMAIL</span>
                                    <p class="font-second font-medium text-sm">jarwoslebew007@gmail.com</p>
                                </div>
                                <div class="">
                                    <span class="text-white-60 font-normal text-sm">MOBILE</span>
                                    <p class="font-second font-medium text-sm">0857-1206-2191</p>
                                </div>
                                <div class="">
                                    <span class="text-white-60 font-normal text-sm">BIRTHDATE</span>
                                    <p class="font-second font-medium text-sm">18 October 2001</p>
                                </div>
                                <div class="">
                                    <span class="text-white-60 font-normal text-sm">SEX</span>
                                    <p class="font-second font-medium text-sm">Male</p>
                                </div>
                                <div class="">
                                    <span class="text-white-60 font-normal text-sm">DOMICILE</span>
                                    <p class="font-second font-medium text-sm">Jakarta</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-summary rounded-2xl">
                <div class="w-100 bg-header flex items-center justify-between px-5 py-3 rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M9.99992 10C9.08325 10 8.29853 9.67362 7.64575 9.02084C6.99297 8.36807 6.66658 7.58334 6.66658 6.66668C6.66658 5.75001 6.99297 4.96529 7.64575 4.31251C8.29853 3.65973 9.08325 3.33334 9.99992 3.33334C10.9166 3.33334 11.7013 3.65973 12.3541 4.31251C13.0069 4.96529 13.3333 5.75001 13.3333 6.66668C13.3333 7.58334 13.0069 8.36807 12.3541 9.02084C11.7013 9.67362 10.9166 10 9.99992 10ZM4.99992 16.6667C4.54159 16.6667 4.14922 16.5035 3.82284 16.1771C3.49645 15.8507 3.33325 15.4583 3.33325 15V14.3333C3.33325 13.8611 3.45478 13.4271 3.69784 13.0313C3.94089 12.6354 4.26381 12.3333 4.66659 12.125C5.5277 11.6945 6.4027 11.3715 7.29158 11.1563C8.18047 10.941 9.08325 10.8333 9.99992 10.8333C10.9166 10.8333 11.8194 10.941 12.7083 11.1563C13.5971 11.3715 14.4721 11.6945 15.3333 12.125C15.736 12.3333 16.0589 12.6354 16.302 13.0313C16.5451 13.4271 16.6666 13.8611 16.6666 14.3333V15C16.6666 15.4583 16.5034 15.8507 16.177 16.1771C15.8506 16.5035 15.4583 16.6667 14.9999 16.6667H4.99992Z" fill="white"/>
                      </svg> PROFILE SUMMARY</p>
                    <p id="edit-profile-summary" class="cursor-pointer text-teal-100 text-xs font-second flex items-center gap-2">Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M12.8667 6.45001L10.0333 3.65001L10.9667 2.71668C11.2222 2.46112 11.5361 2.33334 11.9083 2.33334C12.2806 2.33334 12.5944 2.46112 12.85 2.71668L13.7833 3.65001C14.0389 3.90557 14.1722 4.2139 14.1833 4.57501C14.1944 4.93612 14.0722 5.24445 13.8167 5.50001L12.8667 6.45001ZM2.66667 14.5C2.47778 14.5 2.31944 14.4361 2.19167 14.3083C2.06389 14.1806 2 14.0222 2 13.8333V11.95C2 11.8611 2.01667 11.775 2.05 11.6917C2.08333 11.6083 2.13333 11.5333 2.2 11.4667L9.06667 4.60001L11.9 7.43334L5.03333 14.3C4.96667 14.3667 4.89167 14.4167 4.80833 14.45C4.725 14.4833 4.63889 14.5 4.55 14.5H2.66667Z" fill="#3DD1DB"/>
                      </svg></p>
                </div>
                <div class="w-100 p-5 pb-6 bg-body rounded-b-2xl">
                    <div class="text-center">
                        <p class="font-bold text-base text-white">Write your profile summary here!</p>
                        <p class="font-second text-white-60 text-sm font-medium px-24 mb-2">This is your chance to put a good word about yourself, so that recruiters could catch a glimpse of you as a candidate.</p>
                        <button id="button-profile-summary" class="flex items-center gap-1 bg-teal-8 text-teal-100 py-2 px-4 m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                            <path d="M9.66675 10.8333H4.66675V9.16666H9.66675V4.16666H11.3334V9.16666H16.3334V10.8333H11.3334V15.8333H9.66675V10.8333Z" fill="#3DD1DB"/>
                          </svg> Add Profile Summary</button>
                    </div>
                </div>
            </div>
            <div class="experiences rounded-2xl">
                <div class="w-100 bg-header flex items-center justify-between px-5 py-3 rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M2.91675 17.5C2.58341 17.5 2.29175 17.375 2.04175 17.125C1.79175 16.875 1.66675 16.5833 1.66675 16.25V5.97917C1.66675 5.64584 1.79175 5.35417 2.04175 5.10417C2.29175 4.85417 2.58341 4.72917 2.91675 4.72917H6.87508V2.91667C6.87508 2.58334 7.00008 2.29167 7.25008 2.04167C7.50008 1.79167 7.79175 1.66667 8.12508 1.66667H11.8751C12.2084 1.66667 12.5001 1.79167 12.7501 2.04167C13.0001 2.29167 13.1251 2.58334 13.1251 2.91667V4.72917H17.0834C17.4167 4.72917 17.7084 4.85417 17.9584 5.10417C18.2084 5.35417 18.3334 5.64584 18.3334 5.97917V16.25C18.3334 16.5833 18.2084 16.875 17.9584 17.125C17.7084 17.375 17.4167 17.5 17.0834 17.5H2.91675ZM8.12508 4.72917H11.8751V2.91667H8.12508V4.72917Z" fill="white"/>
                      </svg> EXPERIENCES</p>
                    <p id="edit-experiences" class="cursor-pointer text-teal-100 text-xs font-second flex items-center gap-2">Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M12.8667 6.45001L10.0333 3.65001L10.9667 2.71668C11.2222 2.46112 11.5361 2.33334 11.9083 2.33334C12.2806 2.33334 12.5944 2.46112 12.85 2.71668L13.7833 3.65001C14.0389 3.90557 14.1722 4.2139 14.1833 4.57501C14.1944 4.93612 14.0722 5.24445 13.8167 5.50001L12.8667 6.45001ZM2.66667 14.5C2.47778 14.5 2.31944 14.4361 2.19167 14.3083C2.06389 14.1806 2 14.0222 2 13.8333V11.95C2 11.8611 2.01667 11.775 2.05 11.6917C2.08333 11.6083 2.13333 11.5333 2.2 11.4667L9.06667 4.60001L11.9 7.43334L5.03333 14.3C4.96667 14.3667 4.89167 14.4167 4.80833 14.45C4.725 14.4833 4.63889 14.5 4.55 14.5H2.66667Z" fill="#3DD1DB"/>
                      </svg></p>
                </div>
                <div class="w-100 p-5 pb-6 bg-body rounded-b-2xl">
                    <div class="text-center">
                        <p class="font-bold text-base text-white">Add your experiences here!</p>
                        <p class="font-second text-white-60 text-sm font-medium px-24 mb-2">The heart of your profile. You can add any experiences from university organizations, event committees, internships, and more!</p>
                        <button id="button-experiences" class="flex items-center gap-1 bg-teal-8 text-teal-100 py-2 px-4 m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                            <path d="M9.66675 10.8333H4.66675V9.16666H9.66675V4.16666H11.3334V9.16666H16.3334V10.8333H11.3334V15.8333H9.66675V10.8333Z" fill="#3DD1DB"/>
                          </svg> Add Experiences</button>
                    </div>
                </div>
            </div>
            <div class="education rounded-2xl">
                <div class="w-100 bg-header flex items-center justify-between px-5 py-3 rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M18.6667 14.2708C18.4167 14.2708 18.2118 14.1875 18.0521 14.0208C17.8924 13.8542 17.8125 13.6597 17.8125 13.4375V8.5L10.8958 12.2292C10.7708 12.2847 10.625 12.3333 10.4583 12.375C10.2917 12.4167 10.1319 12.4375 9.97917 12.4375C9.82639 12.4375 9.67014 12.4167 9.51042 12.375C9.3507 12.3333 9.20833 12.2847 9.08333 12.2292L2.0625 8.375C1.89583 8.30556 1.77083 8.19792 1.6875 8.05208C1.60417 7.90625 1.5625 7.73611 1.5625 7.54167C1.5625 7.36111 1.60417 7.19792 1.6875 7.05208C1.77083 6.90625 1.89583 6.79167 2.0625 6.70833L9.08333 2.875C9.22222 2.81944 9.37153 2.76389 9.53125 2.70833C9.69097 2.65278 9.84028 2.625 9.97917 2.625C10.1181 2.625 10.2674 2.65278 10.4271 2.70833C10.5868 2.76389 10.75 2.81944 10.9167 2.875L18.9792 7.27083C19.1319 7.34028 19.2535 7.45486 19.3438 7.61458C19.434 7.77431 19.4792 7.9375 19.4792 8.10417V13.4375C19.4792 13.6597 19.3993 13.8542 19.2396 14.0208C19.0799 14.1875 18.8889 14.2708 18.6667 14.2708ZM9.97917 17.2917C9.84028 17.2917 9.6875 17.2743 9.52083 17.2396C9.35417 17.2049 9.20833 17.1528 9.08333 17.0833L4.79167 14.7708C4.47222 14.6181 4.22569 14.3889 4.05208 14.0833C3.87847 13.7778 3.79167 13.4444 3.79167 13.0833V10.125L8.66667 12.8125C8.875 12.9236 9.08333 13.0278 9.29167 13.125C9.5 13.2222 9.72917 13.2708 9.97917 13.2708C10.2292 13.2708 10.4653 13.2222 10.6875 13.125C10.9097 13.0278 11.1181 12.9167 11.3125 12.7917L16.1875 10.125V13.0833C16.1875 13.4444 16.0972 13.7778 15.9167 14.0833C15.7361 14.3889 15.4931 14.6181 15.1875 14.7708L10.8958 17.0833C10.7569 17.1528 10.6042 17.2049 10.4375 17.2396C10.2708 17.2743 10.1181 17.2917 9.97917 17.2917Z" fill="white"/>
                      </svg> EDUCATION</p>
                    <p id="edit-education" class="cursor-pointer text-teal-100 text-xs font-second flex items-center gap-2">Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M12.8667 6.45001L10.0333 3.65001L10.9667 2.71668C11.2222 2.46112 11.5361 2.33334 11.9083 2.33334C12.2806 2.33334 12.5944 2.46112 12.85 2.71668L13.7833 3.65001C14.0389 3.90557 14.1722 4.2139 14.1833 4.57501C14.1944 4.93612 14.0722 5.24445 13.8167 5.50001L12.8667 6.45001ZM2.66667 14.5C2.47778 14.5 2.31944 14.4361 2.19167 14.3083C2.06389 14.1806 2 14.0222 2 13.8333V11.95C2 11.8611 2.01667 11.775 2.05 11.6917C2.08333 11.6083 2.13333 11.5333 2.2 11.4667L9.06667 4.60001L11.9 7.43334L5.03333 14.3C4.96667 14.3667 4.89167 14.4167 4.80833 14.45C4.725 14.4833 4.63889 14.5 4.55 14.5H2.66667Z" fill="#3DD1DB"/>
                      </svg></p>
                </div>
                <div class="w-100 p-5 pb-6 bg-body rounded-b-2xl">
                    <div class="text-center">
                        <p class="font-bold text-base text-white">Add your education here!</p>
                        <p class="font-second text-white-60 text-sm font-medium px-24 mb-2">Just as important as experiences, your education will show recruiters what your capable of!</p>
                        <button id="button-education" class="flex items-center gap-1 bg-teal-8 text-teal-100 py-2 px-4 m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                            <path d="M9.66675 10.8333H4.66675V9.16666H9.66675V4.16666H11.3334V9.16666H16.3334V10.8333H11.3334V15.8333H9.66675V10.8333Z" fill="#3DD1DB"/>
                          </svg> Add Education</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-3">
            <div class="profie-completion rounded-2xl overlay-tale p-4">
                <p class="text-base font-normal text-white tracking-[1.6px]">PROFILE COMPLETION</p>
                <p class="font-extrabold text-4xl text-white mt-3 mb-2">0%</p>
                <p class="font-second text-sm text-white-60 font-semibold">Complete your profile to differentiate yourself from other candidates!</p>
                <div class="flex flex-col gap-2 text-sm text-teal-100 font-medium font-second mt-2">
                    <p id="completion-profile-picture" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add a Profile Picture</p>
                    <p id="completion-profile-summary" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Profile Summary</p>
                    <p id="completion-experiences" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Experiences</p>
                    <p id="completion-education" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Education</p>
                    <p id="completion-resume" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Resume/CV</p>
                </div>
            </div>
            <div class="attachments bg-darkest-grey rounded-2xl p-4 pb-5">
                <div class="w-100 flex items-center justify-between rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M9.58333 18.3333C8.30556 18.3333 7.22222 17.8889 6.33333 17C5.44444 16.1111 5 15.0278 5 13.75V5C5 4.08333 5.32639 3.29861 5.97917 2.64583C6.63194 1.99305 7.41667 1.66667 8.33333 1.66667C9.25 1.66667 10.0347 1.99305 10.6875 2.64583C11.3403 3.29861 11.6667 4.08333 11.6667 5V12.9167C11.6667 13.5 11.4653 13.9931 11.0625 14.3958C10.6597 14.7986 10.1667 15 9.58333 15C9 15 8.50694 14.7986 8.10417 14.3958C7.70139 13.9931 7.5 13.5 7.5 12.9167V5.625C7.5 5.44444 7.55903 5.29514 7.67708 5.17708C7.79514 5.05903 7.94444 5 8.125 5C8.30556 5 8.45486 5.05903 8.57292 5.17708C8.69097 5.29514 8.75 5.44444 8.75 5.625V12.9167C8.75 13.1528 8.82986 13.3507 8.98958 13.5104C9.14931 13.6701 9.34722 13.75 9.58333 13.75C9.81944 13.75 10.0174 13.6701 10.1771 13.5104C10.3368 13.3507 10.4167 13.1528 10.4167 12.9167V5C10.4167 4.41667 10.2153 3.92361 9.8125 3.52083C9.40972 3.11805 8.91667 2.91667 8.33333 2.91667C7.75 2.91667 7.25694 3.11805 6.85417 3.52083C6.45139 3.92361 6.25 4.41667 6.25 5V13.75C6.25 14.6667 6.57639 15.4514 7.22917 16.1042C7.88194 16.7569 8.66667 17.0833 9.58333 17.0833C10.5 17.0833 11.2847 16.7569 11.9375 16.1042C12.5903 15.4514 12.9167 14.6667 12.9167 13.75V5.625C12.9167 5.44444 12.9757 5.29514 13.0938 5.17708C13.2118 5.05903 13.3611 5 13.5417 5C13.7222 5 13.8715 5.05903 13.9896 5.17708C14.1076 5.29514 14.1667 5.44444 14.1667 5.625V13.75C14.1667 15.0278 13.7222 16.1111 12.8333 17C11.9444 17.8889 10.8611 18.3333 9.58333 18.3333Z" fill="white"/>
                      </svg> ATTACHMENTS</p>
                    <p id="edit-attachment" class="cursor-pointer text-teal-100 text-xs font-second flex items-center gap-2">Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M12.8667 6.45001L10.0333 3.65001L10.9667 2.71668C11.2222 2.46112 11.5361 2.33334 11.9083 2.33334C12.2806 2.33334 12.5944 2.46112 12.85 2.71668L13.7833 3.65001C14.0389 3.90557 14.1722 4.2139 14.1833 4.57501C14.1944 4.93612 14.0722 5.24445 13.8167 5.50001L12.8667 6.45001ZM2.66667 14.5C2.47778 14.5 2.31944 14.4361 2.19167 14.3083C2.06389 14.1806 2 14.0222 2 13.8333V11.95C2 11.8611 2.01667 11.775 2.05 11.6917C2.08333 11.6083 2.13333 11.5333 2.2 11.4667L9.06667 4.60001L11.9 7.43334L5.03333 14.3C4.96667 14.3667 4.89167 14.4167 4.80833 14.45C4.725 14.4833 4.63889 14.5 4.55 14.5H2.66667Z" fill="#3DD1DB"/>
                      </svg></p>
                </div>
                <p class="font-second text-sm font-semibold text-white-60 mt-3 mb-4">You can attach your latest CV or Portfolio here!</p>
                <div class="">
                    <div class="">
                        <p class="flex items-center gap-2 text-white-60"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path d="M9 10.5C9.4125 10.5 9.76563 10.3531 10.0594 10.0594C10.3531 9.76562 10.5 9.4125 10.5 9C10.5 8.5875 10.3531 8.23437 10.0594 7.94062C9.76563 7.64687 9.4125 7.5 9 7.5C8.5875 7.5 8.23437 7.64687 7.94062 7.94062C7.64687 8.23437 7.5 8.5875 7.5 9C7.5 9.4125 7.64687 9.76562 7.94062 10.0594C8.23437 10.3531 8.5875 10.5 9 10.5ZM6 13.5H12V13.0687C12 12.7687 11.9187 12.4937 11.7563 12.2437C11.5938 11.9937 11.3687 11.8062 11.0812 11.6812C10.7562 11.5437 10.4219 11.4375 10.0781 11.3625C9.73438 11.2875 9.375 11.25 9 11.25C8.625 11.25 8.26562 11.2875 7.92188 11.3625C7.57812 11.4375 7.24375 11.5437 6.91875 11.6812C6.63125 11.8062 6.40625 11.9937 6.24375 12.2437C6.08125 12.4937 6 12.7687 6 13.0687V13.5ZM13.875 16.5H4.125C3.825 16.5 3.5625 16.3875 3.3375 16.1625C3.1125 15.9375 3 15.675 3 15.375V2.625C3 2.325 3.1125 2.0625 3.3375 1.8375C3.5625 1.6125 3.825 1.5 4.125 1.5H10.05C10.2 1.5 10.3469 1.53125 10.4906 1.59375C10.6344 1.65625 10.7563 1.7375 10.8563 1.8375L14.6625 5.64375C14.7625 5.74375 14.8438 5.86562 14.9062 6.00937C14.9688 6.15312 15 6.3 15 6.45V15.375C15 15.675 14.8875 15.9375 14.6625 16.1625C14.4375 16.3875 14.175 16.5 13.875 16.5Z" fill="#A5A5A5"/>
                          </svg> RESUME*</p>
                        <div class="porto flex items-center justify-between p-3 mt-2">
                            <div class="">
                                <a href="#" class="font-second text-sm font-medium text-teal-100">resumefinalbangetbanget.pdf</a>
                                <p class="font-second text-xs font-medium text-white-60">1 mb • 12 Aug 2023</p>
                            </div>
                            <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M4.89375 15.75C4.59375 15.75 4.33125 15.6375 4.10625 15.4125C3.88125 15.1875 3.76875 14.925 3.76875 14.625V3.9375H3.5625C3.4 3.9375 3.26563 3.88437 3.15938 3.77812C3.05313 3.67187 3 3.5375 3 3.375C3 3.2125 3.05313 3.07813 3.15938 2.97188C3.26563 2.86563 3.4 2.8125 3.5625 2.8125H6.525C6.525 2.65 6.57813 2.51563 6.68438 2.40938C6.79063 2.30313 6.925 2.25 7.0875 2.25H10.9125C11.075 2.25 11.2094 2.30313 11.3156 2.40938C11.4219 2.51563 11.475 2.65 11.475 2.8125H14.4375C14.6 2.8125 14.7344 2.86563 14.8406 2.97188C14.9469 3.07813 15 3.2125 15 3.375C15 3.5375 14.9469 3.67187 14.8406 3.77812C14.7344 3.88437 14.6 3.9375 14.4375 3.9375H14.2313V14.625C14.2313 14.925 14.1188 15.1875 13.8938 15.4125C13.6688 15.6375 13.4063 15.75 13.1063 15.75H4.89375ZM6.88125 12.45C6.88125 12.6125 6.93438 12.7469 7.04063 12.8531C7.14688 12.9594 7.28125 13.0125 7.44375 13.0125C7.60625 13.0125 7.74062 12.9594 7.84688 12.8531C7.95312 12.7469 8.00625 12.6125 8.00625 12.45V6.09375C8.00625 5.93125 7.95312 5.79688 7.84688 5.69063C7.74062 5.58438 7.60625 5.53125 7.44375 5.53125C7.28125 5.53125 7.14688 5.58438 7.04063 5.69063C6.93438 5.79688 6.88125 5.93125 6.88125 6.09375V12.45ZM9.99375 12.45C9.99375 12.6125 10.0469 12.7469 10.1531 12.8531C10.2594 12.9594 10.3938 13.0125 10.5563 13.0125C10.7188 13.0125 10.8531 12.9594 10.9594 12.8531C11.0656 12.7469 11.1188 12.6125 11.1188 12.45V6.09375C11.1188 5.93125 11.0656 5.79688 10.9594 5.69063C10.8531 5.58438 10.7188 5.53125 10.5563 5.53125C10.3938 5.53125 10.2594 5.58438 10.1531 5.69063C10.0469 5.79688 9.99375 5.93125 9.99375 6.09375V12.45Z" fill="#A5A5A5"/>
                            </svg>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="flex items-center gap-2 text-white-60"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path d="M9 10.5C9.4125 10.5 9.76563 10.3531 10.0594 10.0594C10.3531 9.76562 10.5 9.4125 10.5 9C10.5 8.5875 10.3531 8.23437 10.0594 7.94062C9.76563 7.64687 9.4125 7.5 9 7.5C8.5875 7.5 8.23437 7.64687 7.94062 7.94062C7.64687 8.23437 7.5 8.5875 7.5 9C7.5 9.4125 7.64687 9.76562 7.94062 10.0594C8.23437 10.3531 8.5875 10.5 9 10.5ZM6 13.5H12V13.0687C12 12.7687 11.9187 12.4937 11.7563 12.2437C11.5938 11.9937 11.3687 11.8062 11.0812 11.6812C10.7562 11.5437 10.4219 11.4375 10.0781 11.3625C9.73438 11.2875 9.375 11.25 9 11.25C8.625 11.25 8.26562 11.2875 7.92188 11.3625C7.57812 11.4375 7.24375 11.5437 6.91875 11.6812C6.63125 11.8062 6.40625 11.9937 6.24375 12.2437C6.08125 12.4937 6 12.7687 6 13.0687V13.5ZM13.875 16.5H4.125C3.825 16.5 3.5625 16.3875 3.3375 16.1625C3.1125 15.9375 3 15.675 3 15.375V2.625C3 2.325 3.1125 2.0625 3.3375 1.8375C3.5625 1.6125 3.825 1.5 4.125 1.5H10.05C10.2 1.5 10.3469 1.53125 10.4906 1.59375C10.6344 1.65625 10.7563 1.7375 10.8563 1.8375L14.6625 5.64375C14.7625 5.74375 14.8438 5.86562 14.9062 6.00937C14.9688 6.15312 15 6.3 15 6.45V15.375C15 15.675 14.8875 15.9375 14.6625 16.1625C14.4375 16.3875 14.175 16.5 13.875 16.5Z" fill="#A5A5A5"/>
                          </svg> PORTFOLIO</p>
                        <div class="porto flex items-center justify-between p-3 mt-2">
                            <div class="flex items-center gap-2">
                                <div class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <g clip-path="url(#clip0_179_1458)">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9702 0C4.45694 0 0 4.58333 0 10.2535C0 14.786 2.85571 18.6227 6.81735 19.9806C7.31265 20.0827 7.49408 19.76 7.49408 19.4885C7.49408 19.2508 7.47775 18.436 7.47775 17.5871C4.70429 18.1983 4.12673 16.3648 4.12673 16.3648C3.68102 15.1765 3.02061 14.871 3.02061 14.871C2.11286 14.2429 3.08673 14.2429 3.08673 14.2429C4.09367 14.3108 4.62204 15.2954 4.62204 15.2954C5.51327 16.8571 6.94939 16.4158 7.52714 16.1442C7.60959 15.4821 7.87388 15.0237 8.15449 14.7692C5.94245 14.5315 3.6151 13.6488 3.6151 9.71021C3.6151 8.58979 4.01102 7.67312 4.63837 6.96021C4.53939 6.70563 4.19265 5.65292 4.73755 4.24396C4.73755 4.24396 5.57939 3.97229 7.47755 5.29646C8.29022 5.07201 9.12832 4.95784 9.9702 4.95687C10.812 4.95687 11.6702 5.07583 12.4627 5.29646C14.361 3.97229 15.2029 4.24396 15.2029 4.24396C15.7478 5.65292 15.4008 6.70563 15.3018 6.96021C15.9457 7.67312 16.3253 8.58979 16.3253 9.71021C16.3253 13.6488 13.998 14.5144 11.7694 14.7692C12.1327 15.0917 12.4461 15.7027 12.4461 16.6704C12.4461 18.0454 12.4298 19.149 12.4298 19.4883C12.4298 19.76 12.6114 20.0827 13.1065 19.9808C17.0682 18.6225 19.9239 14.786 19.9239 10.2535C19.9402 4.58333 15.4669 0 9.9702 0Z" fill="white"/>
                                    </g>
                                    <defs>
                                      <clipPath id="clip0_179_1458">
                                        <rect width="20" height="20" fill="white"/>
                                      </clipPath>
                                    </defs>
                                  </svg></div>
                                <div class="">
                                    <a href="https://github.com/Lavaruz" class="font-second text-sm font-medium text-teal-100 flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M7.3335 11.3333H4.66683C3.74461 11.3333 2.9585 11.0083 2.3085 10.3583C1.6585 9.70834 1.3335 8.92223 1.3335 8C1.3335 7.07778 1.6585 6.29167 2.3085 5.64167C2.9585 4.99167 3.74461 4.66667 4.66683 4.66667H7.3335V6.00001H4.66683C4.11127 6.00001 3.63905 6.19445 3.25016 6.58334C2.86127 6.97223 2.66683 7.44445 2.66683 8C2.66683 8.55556 2.86127 9.02778 3.25016 9.41667C3.63905 9.80556 4.11127 10 4.66683 10H7.3335V11.3333ZM5.3335 8.66667V7.33334H10.6668V8.66667H5.3335ZM8.66683 11.3333V10H11.3335C11.8891 10 12.3613 9.80556 12.7502 9.41667C13.1391 9.02778 13.3335 8.55556 13.3335 8C13.3335 7.44445 13.1391 6.97223 12.7502 6.58334C12.3613 6.19445 11.8891 6.00001 11.3335 6.00001H8.66683V4.66667H11.3335C12.2557 4.66667 13.0418 4.99167 13.6918 5.64167C14.3418 6.29167 14.6668 7.07778 14.6668 8C14.6668 8.92223 14.3418 9.70834 13.6918 10.3583C13.0418 11.0083 12.2557 11.3333 11.3335 11.3333H8.66683Z" fill="#3DD1DB"/>
                                      </svg> https://github.com/Lavaruz</a>
                                    <p class="font-second text-xs font-medium text-white-60">GitHub</p>
                                </div>
                            </div>
                            <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M4.89375 15.75C4.59375 15.75 4.33125 15.6375 4.10625 15.4125C3.88125 15.1875 3.76875 14.925 3.76875 14.625V3.9375H3.5625C3.4 3.9375 3.26563 3.88437 3.15938 3.77812C3.05313 3.67187 3 3.5375 3 3.375C3 3.2125 3.05313 3.07813 3.15938 2.97188C3.26563 2.86563 3.4 2.8125 3.5625 2.8125H6.525C6.525 2.65 6.57813 2.51563 6.68438 2.40938C6.79063 2.30313 6.925 2.25 7.0875 2.25H10.9125C11.075 2.25 11.2094 2.30313 11.3156 2.40938C11.4219 2.51563 11.475 2.65 11.475 2.8125H14.4375C14.6 2.8125 14.7344 2.86563 14.8406 2.97188C14.9469 3.07813 15 3.2125 15 3.375C15 3.5375 14.9469 3.67187 14.8406 3.77812C14.7344 3.88437 14.6 3.9375 14.4375 3.9375H14.2313V14.625C14.2313 14.925 14.1188 15.1875 13.8938 15.4125C13.6688 15.6375 13.4063 15.75 13.1063 15.75H4.89375ZM6.88125 12.45C6.88125 12.6125 6.93438 12.7469 7.04063 12.8531C7.14688 12.9594 7.28125 13.0125 7.44375 13.0125C7.60625 13.0125 7.74062 12.9594 7.84688 12.8531C7.95312 12.7469 8.00625 12.6125 8.00625 12.45V6.09375C8.00625 5.93125 7.95312 5.79688 7.84688 5.69063C7.74062 5.58438 7.60625 5.53125 7.44375 5.53125C7.28125 5.53125 7.14688 5.58438 7.04063 5.69063C6.93438 5.79688 6.88125 5.93125 6.88125 6.09375V12.45ZM9.99375 12.45C9.99375 12.6125 10.0469 12.7469 10.1531 12.8531C10.2594 12.9594 10.3938 13.0125 10.5563 13.0125C10.7188 13.0125 10.8531 12.9594 10.9594 12.8531C11.0656 12.7469 11.1188 12.6125 11.1188 12.45V6.09375C11.1188 5.93125 11.0656 5.79688 10.9594 5.69063C10.8531 5.58438 10.7188 5.53125 10.5563 5.53125C10.3938 5.53125 10.2594 5.58438 10.1531 5.69063C10.0469 5.79688 9.99375 5.93125 9.99375 6.09375V12.45Z" fill="#A5A5A5"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-viewers bg-darkest-grey rounded-2xl p-4 pb-5">
                <div class="w-100 rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M10.0002 13.3333C11.0418 13.3333 11.9272 12.9688 12.6564 12.2396C13.3856 11.5104 13.7502 10.625 13.7502 9.58334C13.7502 8.54168 13.3856 7.65626 12.6564 6.92709C11.9272 6.19793 11.0418 5.83334 10.0002 5.83334C8.9585 5.83334 8.07308 6.19793 7.34391 6.92709C6.61475 7.65626 6.25016 8.54168 6.25016 9.58334C6.25016 10.625 6.61475 11.5104 7.34391 12.2396C8.07308 12.9688 8.9585 13.3333 10.0002 13.3333ZM10.0002 11.8333C9.37516 11.8333 8.84391 11.6146 8.40641 11.1771C7.96891 10.7396 7.75016 10.2083 7.75016 9.58334C7.75016 8.95834 7.96891 8.42709 8.40641 7.98959C8.84391 7.55209 9.37516 7.33334 10.0002 7.33334C10.6252 7.33334 11.1564 7.55209 11.5939 7.98959C12.0314 8.42709 12.2502 8.95834 12.2502 9.58334C12.2502 10.2083 12.0314 10.7396 11.5939 11.1771C11.1564 11.6146 10.6252 11.8333 10.0002 11.8333ZM10.0002 15.8333C7.97238 15.8333 6.12516 15.2674 4.4585 14.1354C2.79183 13.0035 1.5835 11.4861 0.833496 9.58334C1.5835 7.68057 2.79183 6.1632 4.4585 5.03126C6.12516 3.89932 7.97238 3.33334 10.0002 3.33334C12.0279 3.33334 13.8752 3.89932 15.5418 5.03126C17.2085 6.1632 18.4168 7.68057 19.1668 9.58334C18.4168 11.4861 17.2085 13.0035 15.5418 14.1354C13.8752 15.2674 12.0279 15.8333 10.0002 15.8333Z" fill="white"/>
                      </svg> PROFILE VIEWERS</p>
                </div>
                <p class="font-second text-sm font-semibold text-white-60 mt-3">The number of people who viewed your profile this week.</p>
                <p class="font-extrabold text-4xl text-white mt-5 flex items-center gap-2">12 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M3.4 18L2 16.6L9.4 9.15L13.4 13.15L18.6 8H16V6H22V12H20V9.4L13.4 16L9.4 12L3.4 18Z" fill="#2BDE68"/>
                  </svg></p>
            </div>
            <div class="visibility-status bg-darkest-grey rounded-2xl p-4 pb-5">
                <div class="w-100 rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M9.16667 8.33332C9.625 8.33332 10.0174 8.17013 10.3437 7.84374C10.6701 7.51735 10.8333 7.12499 10.8333 6.66666C10.8333 6.20832 10.6701 5.81596 10.3437 5.48957C10.0174 5.16318 9.625 4.99999 9.16667 4.99999C8.70833 4.99999 8.31597 5.16318 7.98958 5.48957C7.66319 5.81596 7.5 6.20832 7.5 6.66666C7.5 7.12499 7.66319 7.51735 7.98958 7.84374C8.31597 8.17013 8.70833 8.33332 9.16667 8.33332ZM9.16667 11.6667C9.79167 11.6667 10.3785 11.5347 10.9271 11.2708C11.4757 11.0069 11.9514 10.6319 12.3542 10.1458C11.8681 9.82638 11.3576 9.58332 10.8229 9.41666C10.2882 9.24999 9.73611 9.16666 9.16667 9.16666C8.59722 9.16666 8.04514 9.24999 7.51042 9.41666C6.97569 9.58332 6.46528 9.82638 5.97917 10.1458C6.38194 10.6319 6.85764 11.0069 7.40625 11.2708C7.95486 11.5347 8.54167 11.6667 9.16667 11.6667ZM17.1667 17.5L13.25 13.5833C12.6806 14.0278 12.0521 14.375 11.3646 14.625C10.6771 14.875 9.94444 15 9.16667 15C7.30556 15 5.72917 14.3542 4.4375 13.0625C3.14583 11.7708 2.5 10.1944 2.5 8.33332C2.5 6.47221 3.14583 4.89582 4.4375 3.60416C5.72917 2.31249 7.30556 1.66666 9.16667 1.66666C11.0278 1.66666 12.6042 2.31249 13.8958 3.60416C15.1875 4.89582 15.8333 6.47221 15.8333 8.33332C15.8333 9.1111 15.7083 9.84374 15.4583 10.5312C15.2083 11.2187 14.8611 11.8472 14.4167 12.4167L18.3333 16.3333L17.1667 17.5Z" fill="white"/>
                      </svg> ACTIVESEARCH VISIBILITY</p>
                </div>
                <p class="font-second text-sm font-semibold text-white-60 mt-3">If this is turned on, recruiters are able to handpick you for job invites!</p>
                <label class="relative inline-flex items-center cursor-pointer mt-5">
                    <input type="checkbox" value="" class="sr-only peer" checked>
                    <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                    <span class="ml-2 text-green-500 font-second text-sm font-semibold">ActiveSearch is on.</span>
                </label>
            </div>
        </div>
    </div>
</section>

<section id="popup" class="hidden fixed top-0 bottom-0 left-0 right-0 bg-darkest-grey/50 flex items-center justify-center h-100">
    <div class="popup popup-basic border-2 border-header w-[720px] hidden">
        <div class="header bg-header rounded-t-2xl flex justify-between px-5 py-3 items-center">
            <p class="font-normal text-white text-base tracking-[1.6px] flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M10.0002 10C9.0835 10 8.29877 9.67362 7.646 9.02084C6.99322 8.36807 6.66683 7.58334 6.66683 6.66668C6.66683 5.75001 6.99322 4.96529 7.646 4.31251C8.29877 3.65973 9.0835 3.33334 10.0002 3.33334C10.9168 3.33334 11.7016 3.65973 12.3543 4.31251C13.0071 4.96529 13.3335 5.75001 13.3335 6.66668C13.3335 7.58334 13.0071 8.36807 12.3543 9.02084C11.7016 9.67362 10.9168 10 10.0002 10ZM5.00016 16.6667C4.54183 16.6667 4.14947 16.5035 3.82308 16.1771C3.49669 15.8507 3.3335 15.4583 3.3335 15V14.3333C3.3335 13.8611 3.45502 13.4271 3.69808 13.0313C3.94113 12.6354 4.26405 12.3333 4.66683 12.125C5.52794 11.6945 6.40294 11.3715 7.29183 11.1563C8.18072 10.941 9.0835 10.8333 10.0002 10.8333C10.9168 10.8333 11.8196 10.941 12.7085 11.1563C13.5974 11.3715 14.4724 11.6945 15.3335 12.125C15.7363 12.3333 16.0592 12.6354 16.3022 13.0313C16.5453 13.4271 16.6668 13.8611 16.6668 14.3333V15C16.6668 15.4583 16.5036 15.8507 16.1772 16.1771C15.8509 16.5035 15.4585 16.6667 15.0002 16.6667H5.00016Z" fill="white"/>
              </svg> EDITING BASIC INFORMATION</p>
            <p class="close-x cursor-pointer font-second font-medium text-sm text-teal-100">Close x</p>
        </div>
        <div class="body divide-y divide-header bg-body rounded-b-2xl h-[500px] overflow-y-scroll">
            <div class="p-5">
                <p class="font-bold text-lg text-white mb-3">Profile Picture</p>
                <div class="flex items-center gap-5">
                    <img src="/img/Ellipse 3.svg" alt="">
                    <div class="">
                        <p class="text-white-60 font-second text-sm font-medium mb-2">Make sure your profile picture is professional and shows your face clearly.<br>
                            <span class="text-white">Maximum file size is 1 MB.</span></p>
                        <button class="flex items-center gap-1 bg-teal-8 text-teal-100 py-2 px-4"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                            <path d="M9.66675 10.8333H4.66675V9.16666H9.66675V4.16666H11.3334V9.16666H16.3334V10.8333H11.3334V15.8333H9.66675V10.8333Z" fill="#3DD1DB"/>
                        </svg> Upload Profile Picture</button>
                    </div>
                </div>
            </div>
            <div class="p-5">
                <p class="font-bold text-lg text-white mb-3">Basic Information</p>
                <div class="flex gap-5 mb-4">
                    <label class="block">
                        <span class="text-white-60 tracking-[1.4px] font-normal text-sm">FIRST NAME</span>
                        <!-- Using form state modifiers, the classes can be identical for every input -->
                        <input type="text" value="Jarwo" class="block w-[200px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white-60
                          focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                          focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                        "/>
                    </label>
                    <label class="block">
                        <span class="text-white-60 tracking-[1.4px] font-normal text-sm">LAST NAME</span>
                        <!-- Using form state modifiers, the classes can be identical for every input -->
                        <input type="text" value="Slebew" class="block w-[280px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white-60
                          focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                          focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                        "/>
                    </label>
                </div>
                <div class="flex gap-5">
                    <label class="block">
                        <span class="text-white-60 tracking-[1.4px] font-normal text-sm">DOMICILE</span>
                        <!-- Using form state modifiers, the classes can be identical for every input -->
                        <input type="text" value="Jakarta" class="block w-[200px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white-60
                          focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                          focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                        "/>
                    </label>
                    <label class="">
                        <span class="text-white-60 tracking-[1.4px] font-normal text-sm">DATE OF BIRTH</span>
                        <!-- Using form state modifiers, the classes can be identical for every input -->
                        <input type="date" value="2013-01-08" class="block w-[200px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white-60
                          focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                          focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                        "/>
                    </label>
                </div>
            </div>
            <div class="p-5">
                <p class="font-bold text-lg text-white mb-3">Contact Information</p>
                <div class="flex gap-5 mb-4">
                    <label class="block">
                        <span class="text-white-60 tracking-[1.4px] font-normal text-sm">EMAIL</span>
                        <!-- Using form state modifiers, the classes can be identical for every input -->
                        <input type="text" value="Jarwo" class="block w-[240px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white-60
                          focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                          focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                        "/>
                    </label>
                    <label class="block">
                        <span class="text-white-60 tracking-[1.4px] font-normal text-sm">MOBILE</span>
                        <!-- Using form state modifiers, the classes can be identical for every input -->
                        <input type="text" value="Slebew" class="block w-[240px] px-3 py-[10px] bg-header rounded-lg text-base placeholder-white-60 text-white-60
                          focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                          focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                        "/>
                    </label>
                </div>
                <div class="flex gap-3 justify-end mt-8">
                    <button class="close-x rounded-lg bg-teal-8 text-teal-100 py-2 px-10 font-second text-base">Cancle</button>
                    <button class="rounded-lg bg-teal-100 text-teal-8 py-2 px-14 font-second text-base">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup-summary border-2 border-header w-[720px] hidden">
        <div class="header bg-header rounded-t-2xl flex justify-between px-5 py-3 items-center">
            <p class="font-normal text-white text-base tracking-[1.6px] flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M10.0002 10C9.0835 10 8.29877 9.67362 7.646 9.02084C6.99322 8.36807 6.66683 7.58334 6.66683 6.66668C6.66683 5.75001 6.99322 4.96529 7.646 4.31251C8.29877 3.65973 9.0835 3.33334 10.0002 3.33334C10.9168 3.33334 11.7016 3.65973 12.3543 4.31251C13.0071 4.96529 13.3335 5.75001 13.3335 6.66668C13.3335 7.58334 13.0071 8.36807 12.3543 9.02084C11.7016 9.67362 10.9168 10 10.0002 10ZM5.00016 16.6667C4.54183 16.6667 4.14947 16.5035 3.82308 16.1771C3.49669 15.8507 3.3335 15.4583 3.3335 15V14.3333C3.3335 13.8611 3.45502 13.4271 3.69808 13.0313C3.94113 12.6354 4.26405 12.3333 4.66683 12.125C5.52794 11.6945 6.40294 11.3715 7.29183 11.1563C8.18072 10.941 9.0835 10.8333 10.0002 10.8333C10.9168 10.8333 11.8196 10.941 12.7085 11.1563C13.5974 11.3715 14.4724 11.6945 15.3335 12.125C15.7363 12.3333 16.0592 12.6354 16.3022 13.0313C16.5453 13.4271 16.6668 13.8611 16.6668 14.3333V15C16.6668 15.4583 16.5036 15.8507 16.1772 16.1771C15.8509 16.5035 15.4585 16.6667 15.0002 16.6667H5.00016Z" fill="white"/>
              </svg> EDITING PROFILE SUMMARY</p>
            <p class="close-x cursor-pointer font-second font-medium text-sm text-teal-100">Close x</p>
        </div>
        <div class="body bg-body rounded-b-2xl p-5 pb-6">
            <p class="font-bold text-lg text-white">Your Profile Summary</p>
            <p class="text-white-60 font-second font-medium text-sm mb-3">Your profile summary is your chance to make a lasting impression on potential employers! <a href="" class="text-teal-100">Here</a> is a helpful article on how to create an attractive profile summary.</p>        
            <textarea id="message" rows="4" class="block resize-none px-3 py-[10px] w-full h-[240px] font-second text-sm text-white-60 bg-header rounded-lg" placeholder="Write your thoughts here..."></textarea>
            <div class="flex gap-3 justify-end mt-8">
                <button class="close-x rounded-lg bg-teal-8 text-teal-100 py-2 px-10 font-second text-base">Cancle</button>
                <button class="rounded-lg bg-teal-100 text-teal-8 py-2 px-14 font-second text-base">Save</button>
            </div>
        </div>
    </div>
    <div class="popup popup-experiences border-2 border-header w-[720px] hidden">
        <div class="header bg-header rounded-t-2xl flex justify-between px-5 py-3 items-center">
            <p class="font-normal text-white text-base tracking-[1.6px] flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M2.9165 17.5C2.58317 17.5 2.2915 17.375 2.0415 17.125C1.7915 16.875 1.6665 16.5833 1.6665 16.25V5.97916C1.6665 5.64582 1.7915 5.35416 2.0415 5.10416C2.2915 4.85416 2.58317 4.72916 2.9165 4.72916H6.87484V2.91666C6.87484 2.58332 6.99984 2.29166 7.24984 2.04166C7.49984 1.79166 7.7915 1.66666 8.12484 1.66666H11.8748C12.2082 1.66666 12.4998 1.79166 12.7498 2.04166C12.9998 2.29166 13.1248 2.58332 13.1248 2.91666V4.72916H17.0832C17.4165 4.72916 17.7082 4.85416 17.9582 5.10416C18.2082 5.35416 18.3332 5.64582 18.3332 5.97916V16.25C18.3332 16.5833 18.2082 16.875 17.9582 17.125C17.7082 17.375 17.4165 17.5 17.0832 17.5H2.9165ZM8.12484 4.72916H11.8748V2.91666H8.12484V4.72916Z" fill="white"/>
              </svg> EDITING EXPERIENCES</p>
            <p class="close-x cursor-pointer font-second font-medium text-sm text-teal-100">Close x</p>
        </div>
        <div class="body bg-body rounded-b-2xl h-[500px] overflow-y-scroll">
            <div class="divide-y divide-header">
                <div class="p-5">
                    <p class="font-bold text-lg text-white mb-1">Your Experiences</p>
                    <p class="text-white-60 text-sm font-second font-medium">You can add as much experience as you'd like! You can even add your university's organizational experiences. Always remember to elaborate your responsibilities well in the description.</p>
                </div>
                <div class="p-5">
                    <div class="flex items-center bg-[#3B3B3B] rounded-lg p-3 gap-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="49" viewBox="0 0 24 25" fill="none">
                            <path d="M12 17.5C12.2833 17.5 12.5208 17.4042 12.7125 17.2125C12.9042 17.0208 13 16.7833 13 16.5V12.5C13 12.2167 12.9042 11.9792 12.7125 11.7875C12.5208 11.5958 12.2833 11.5 12 11.5C11.7167 11.5 11.4792 11.5958 11.2875 11.7875C11.0958 11.9792 11 12.2167 11 12.5V16.5C11 16.7833 11.0958 17.0208 11.2875 17.2125C11.4792 17.4042 11.7167 17.5 12 17.5ZM12 9.5C12.2833 9.5 12.5208 9.40417 12.7125 9.2125C12.9042 9.02083 13 8.78333 13 8.5C13 8.21667 12.9042 7.97917 12.7125 7.7875C12.5208 7.59583 12.2833 7.5 12 7.5C11.7167 7.5 11.4792 7.59583 11.2875 7.7875C11.0958 7.97917 11 8.21667 11 8.5C11 8.78333 11.0958 9.02083 11.2875 9.2125C11.4792 9.40417 11.7167 9.5 12 9.5ZM12 22.5C10.6167 22.5 9.31667 22.2375 8.1 21.7125C6.88333 21.1875 5.825 20.475 4.925 19.575C4.025 18.675 3.3125 17.6167 2.7875 16.4C2.2625 15.1833 2 13.8833 2 12.5C2 11.1167 2.2625 9.81667 2.7875 8.6C3.3125 7.38333 4.025 6.325 4.925 5.425C5.825 4.525 6.88333 3.8125 8.1 3.2875C9.31667 2.7625 10.6167 2.5 12 2.5C13.3833 2.5 14.6833 2.7625 15.9 3.2875C17.1167 3.8125 18.175 4.525 19.075 5.425C19.975 6.325 20.6875 7.38333 21.2125 8.6C21.7375 9.81667 22 11.1167 22 12.5C22 13.8833 21.7375 15.1833 21.2125 16.4C20.6875 17.6167 19.975 18.675 19.075 19.575C18.175 20.475 17.1167 21.1875 15.9 21.7125C14.6833 22.2375 13.3833 22.5 12 22.5Z" fill="#3DD1DB"/>
                          </svg>
                        <div class="">
                            <p class="tracking-[1.6px] font-normal text-base text-teal-100">TIP</p>
                            <p class="font-second text-sm font-medium text-white-60">Recruiters will be seeing your Experiences in this order. You can drag and drop each Experiences using the handle on the left side to suit your preferred order.</p>
                        </div>
                    </div>
                    <div class="divide-y divide-header">
                        <div class="">
                            <div class="flex gap-4 my-5">
                                <div class=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M9 20C8.45 20 7.97917 19.8042 7.5875 19.4125C7.19583 19.0208 7 18.55 7 18C7 17.45 7.19583 16.9792 7.5875 16.5875C7.97917 16.1958 8.45 16 9 16C9.55 16 10.0208 16.1958 10.4125 16.5875C10.8042 16.9792 11 17.45 11 18C11 18.55 10.8042 19.0208 10.4125 19.4125C10.0208 19.8042 9.55 20 9 20ZM15 20C14.45 20 13.9792 19.8042 13.5875 19.4125C13.1958 19.0208 13 18.55 13 18C13 17.45 13.1958 16.9792 13.5875 16.5875C13.9792 16.1958 14.45 16 15 16C15.55 16 16.0208 16.1958 16.4125 16.5875C16.8042 16.9792 17 17.45 17 18C17 18.55 16.8042 19.0208 16.4125 19.4125C16.0208 19.8042 15.55 20 15 20ZM9 14C8.45 14 7.97917 13.8042 7.5875 13.4125C7.19583 13.0208 7 12.55 7 12C7 11.45 7.19583 10.9792 7.5875 10.5875C7.97917 10.1958 8.45 10 9 10C9.55 10 10.0208 10.1958 10.4125 10.5875C10.8042 10.9792 11 11.45 11 12C11 12.55 10.8042 13.0208 10.4125 13.4125C10.0208 13.8042 9.55 14 9 14ZM15 14C14.45 14 13.9792 13.8042 13.5875 13.4125C13.1958 13.0208 13 12.55 13 12C13 11.45 13.1958 10.9792 13.5875 10.5875C13.9792 10.1958 14.45 10 15 10C15.55 10 16.0208 10.1958 16.4125 10.5875C16.8042 10.9792 17 11.45 17 12C17 12.55 16.8042 13.0208 16.4125 13.4125C16.0208 13.8042 15.55 14 15 14ZM9 8C8.45 8 7.97917 7.80417 7.5875 7.4125C7.19583 7.02083 7 6.55 7 6C7 5.45 7.19583 4.97917 7.5875 4.5875C7.97917 4.19583 8.45 4 9 4C9.55 4 10.0208 4.19583 10.4125 4.5875C10.8042 4.97917 11 5.45 11 6C11 6.55 10.8042 7.02083 10.4125 7.4125C10.0208 7.80417 9.55 8 9 8ZM15 8C14.45 8 13.9792 7.80417 13.5875 7.4125C13.1958 7.02083 13 6.55 13 6C13 5.45 13.1958 4.97917 13.5875 4.5875C13.9792 4.19583 14.45 4 15 4C15.55 4 16.0208 4.19583 16.4125 4.5875C16.8042 4.97917 17 5.45 17 6C17 6.55 16.8042 7.02083 16.4125 7.4125C16.0208 7.80417 15.55 8 15 8Z" fill="white" fill-opacity="0.6"/>
                                  </svg></div>
                                <div class="w-full">
                                    <div class="head flex justify-between">
                                        <div class="">
                                            <p class="text-[#FC4545] bg-[#DB3D3D]/20 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">INTERNSHIP</p>
                                            <p class="font-bold text-lg text-white">Software Engineer</p>
                                            <p class="font-semibold text-sm text-white-80 font-second">Tokopedia • Full-time • On-site (Jakarta) </p>
                                        </div>
                                        <div class="text-right">
                                            <p class="font-second text-xs font-normal text-white">Aug 2020 - Aug 2021</p>
                                            <p class="text-xs font-semibold text-[#A5A5A5]">1 YEAR</p>
                                        </div>
                                    </div>
                                    <div class="body flex">
                                        <ul class="list-disc ms-4 font-second text-sm text-white-60 font-normal mt-3">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                            <li>Sed ac orci nec mi maximus tincidunt. Suspendisse blandit mi dui, eu lacinia leo sagittis nec. Nullam facilisis ultricies dolor, in imperdiet dui sagittis eu. </li>
                                            <li>Mauris eu eleifend sapien. Donec rutrum metus non metus scelerisque facilisis. Aliquam eu urna varius, fermentum erat in, pharetra diam. Sed placerat porta dolor vel lacinia.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M19.3 8.925L15.05 4.725L16.45 3.325C16.8333 2.94167 17.3042 2.75 17.8625 2.75C18.4208 2.75 18.8917 2.94167 19.275 3.325L20.675 4.725C21.0583 5.10833 21.2583 5.57083 21.275 6.1125C21.2917 6.65417 21.1083 7.11667 20.725 7.5L19.3 8.925ZM4 21C3.71667 21 3.47917 20.9042 3.2875 20.7125C3.09583 20.5208 3 20.2833 3 20V17.175C3 17.0417 3.025 16.9125 3.075 16.7875C3.125 16.6625 3.2 16.55 3.3 16.45L13.6 6.15L17.85 10.4L7.55 20.7C7.45 20.8 7.3375 20.875 7.2125 20.925C7.0875 20.975 6.95833 21 6.825 21H4Z" fill="#A5A5A5"/>
                                  </svg>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.525 21C6.125 21 5.775 20.85 5.475 20.55C5.175 20.25 5.025 19.9 5.025 19.5V5.25H4.75C4.53333 5.25 4.35417 5.17917 4.2125 5.0375C4.07083 4.89583 4 4.71667 4 4.5C4 4.28333 4.07083 4.10417 4.2125 3.9625C4.35417 3.82083 4.53333 3.75 4.75 3.75H8.7C8.7 3.53333 8.77083 3.35417 8.9125 3.2125C9.05417 3.07083 9.23333 3 9.45 3H14.55C14.7667 3 14.9458 3.07083 15.0875 3.2125C15.2292 3.35417 15.3 3.53333 15.3 3.75H19.25C19.4667 3.75 19.6458 3.82083 19.7875 3.9625C19.9292 4.10417 20 4.28333 20 4.5C20 4.71667 19.9292 4.89583 19.7875 5.0375C19.6458 5.17917 19.4667 5.25 19.25 5.25H18.975V19.5C18.975 19.9 18.825 20.25 18.525 20.55C18.225 20.85 17.875 21 17.475 21H6.525ZM9.175 16.6C9.175 16.8167 9.24583 16.9958 9.3875 17.1375C9.52917 17.2792 9.70833 17.35 9.925 17.35C10.1417 17.35 10.3208 17.2792 10.4625 17.1375C10.6042 16.9958 10.675 16.8167 10.675 16.6V8.125C10.675 7.90833 10.6042 7.72917 10.4625 7.5875C10.3208 7.44583 10.1417 7.375 9.925 7.375C9.70833 7.375 9.52917 7.44583 9.3875 7.5875C9.24583 7.72917 9.175 7.90833 9.175 8.125V16.6ZM13.325 16.6C13.325 16.8167 13.3958 16.9958 13.5375 17.1375C13.6792 17.2792 13.8583 17.35 14.075 17.35C14.2917 17.35 14.4708 17.2792 14.6125 17.1375C14.7542 16.9958 14.825 16.8167 14.825 16.6V8.125C14.825 7.90833 14.7542 7.72917 14.6125 7.5875C14.4708 7.44583 14.2917 7.375 14.075 7.375C13.8583 7.375 13.6792 7.44583 13.5375 7.5875C13.3958 7.72917 13.325 7.90833 13.325 8.125V16.6Z" fill="#A5A5A5"/>
                                  </svg></div>
                            </div>
                        </div>
                        <div class="">
                            <button class="font-second text-sm font-medium w-[90%] m-auto rounded-lg bg-teal-8 text-teal-100 p-4 my-5 flex items-center gap-2 justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                    <path d="M9.66675 10.8333H4.66675V9.16666H9.66675V4.16666H11.3334V9.16666H16.3334V10.8333H11.3334V15.8333H9.66675V10.8333Z" fill="#3DD1DB"/>
                                  </svg> Add Experience
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex gap-3 justify-end mt-8 p-5 pb-6">
                <button class="close-x rounded-lg bg-teal-8 text-teal-100 py-2 px-10 font-second text-base">Cancle</button>
                <button class="rounded-lg bg-teal-100 text-teal-8 py-2 px-14 font-second text-base">Save</button>
            </div>
        </div>
    </div>
    <div class="popup popup-education border-2 border-header w-[720px] hidden">
        <div class="header bg-header rounded-t-2xl flex justify-between px-5 py-3 items-center">
            <p class="font-normal text-white text-base tracking-[1.6px] flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M18.6667 14.2708C18.4167 14.2708 18.2118 14.1875 18.0521 14.0208C17.8924 13.8542 17.8125 13.6597 17.8125 13.4375V8.5L10.8958 12.2292C10.7708 12.2847 10.625 12.3333 10.4583 12.375C10.2917 12.4167 10.1319 12.4375 9.97917 12.4375C9.82639 12.4375 9.67014 12.4167 9.51042 12.375C9.3507 12.3333 9.20833 12.2847 9.08333 12.2292L2.0625 8.375C1.89583 8.30556 1.77083 8.19792 1.6875 8.05208C1.60417 7.90625 1.5625 7.73611 1.5625 7.54167C1.5625 7.36111 1.60417 7.19792 1.6875 7.05208C1.77083 6.90625 1.89583 6.79167 2.0625 6.70833L9.08333 2.875C9.22222 2.81944 9.37153 2.76389 9.53125 2.70833C9.69097 2.65278 9.84028 2.625 9.97917 2.625C10.1181 2.625 10.2674 2.65278 10.4271 2.70833C10.5868 2.76389 10.75 2.81944 10.9167 2.875L18.9792 7.27083C19.1319 7.34028 19.2535 7.45486 19.3438 7.61458C19.434 7.77431 19.4792 7.9375 19.4792 8.10417V13.4375C19.4792 13.6597 19.3993 13.8542 19.2396 14.0208C19.0799 14.1875 18.8889 14.2708 18.6667 14.2708ZM9.97917 17.2917C9.84028 17.2917 9.6875 17.2743 9.52083 17.2396C9.35417 17.2049 9.20833 17.1528 9.08333 17.0833L4.79167 14.7708C4.47222 14.6181 4.22569 14.3889 4.05208 14.0833C3.87847 13.7778 3.79167 13.4444 3.79167 13.0833V10.125L8.66667 12.8125C8.875 12.9236 9.08333 13.0278 9.29167 13.125C9.5 13.2222 9.72917 13.2708 9.97917 13.2708C10.2292 13.2708 10.4653 13.2222 10.6875 13.125C10.9097 13.0278 11.1181 12.9167 11.3125 12.7917L16.1875 10.125V13.0833C16.1875 13.4444 16.0972 13.7778 15.9167 14.0833C15.7361 14.3889 15.4931 14.6181 15.1875 14.7708L10.8958 17.0833C10.7569 17.1528 10.6042 17.2049 10.4375 17.2396C10.2708 17.2743 10.1181 17.2917 9.97917 17.2917Z" fill="white"/>
              </svg> EDITING EDUCATION</p>
            <p class="close-x cursor-pointer font-second font-medium text-sm text-teal-100">Close x</p>
        </div>
        <div class="body bg-body rounded-b-2xl h-[500px] overflow-y-scroll">
            <div class="divide-y divide-header">
                <div class="p-5">
                    <p class="font-bold text-lg text-white mb-1">Your Education</p>
                    <p class="text-white-60 text-sm font-second font-medium">This is where you show off your education to recruiters! You can basically add any education programs you have accomplished or still participating.</p>
                </div>
                <div class="p-5">
                    <div class="flex items-center bg-[#3B3B3B] rounded-lg p-3 gap-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="49" viewBox="0 0 24 25" fill="none">
                            <path d="M12 17.5C12.2833 17.5 12.5208 17.4042 12.7125 17.2125C12.9042 17.0208 13 16.7833 13 16.5V12.5C13 12.2167 12.9042 11.9792 12.7125 11.7875C12.5208 11.5958 12.2833 11.5 12 11.5C11.7167 11.5 11.4792 11.5958 11.2875 11.7875C11.0958 11.9792 11 12.2167 11 12.5V16.5C11 16.7833 11.0958 17.0208 11.2875 17.2125C11.4792 17.4042 11.7167 17.5 12 17.5ZM12 9.5C12.2833 9.5 12.5208 9.40417 12.7125 9.2125C12.9042 9.02083 13 8.78333 13 8.5C13 8.21667 12.9042 7.97917 12.7125 7.7875C12.5208 7.59583 12.2833 7.5 12 7.5C11.7167 7.5 11.4792 7.59583 11.2875 7.7875C11.0958 7.97917 11 8.21667 11 8.5C11 8.78333 11.0958 9.02083 11.2875 9.2125C11.4792 9.40417 11.7167 9.5 12 9.5ZM12 22.5C10.6167 22.5 9.31667 22.2375 8.1 21.7125C6.88333 21.1875 5.825 20.475 4.925 19.575C4.025 18.675 3.3125 17.6167 2.7875 16.4C2.2625 15.1833 2 13.8833 2 12.5C2 11.1167 2.2625 9.81667 2.7875 8.6C3.3125 7.38333 4.025 6.325 4.925 5.425C5.825 4.525 6.88333 3.8125 8.1 3.2875C9.31667 2.7625 10.6167 2.5 12 2.5C13.3833 2.5 14.6833 2.7625 15.9 3.2875C17.1167 3.8125 18.175 4.525 19.075 5.425C19.975 6.325 20.6875 7.38333 21.2125 8.6C21.7375 9.81667 22 11.1167 22 12.5C22 13.8833 21.7375 15.1833 21.2125 16.4C20.6875 17.6167 19.975 18.675 19.075 19.575C18.175 20.475 17.1167 21.1875 15.9 21.7125C14.6833 22.2375 13.3833 22.5 12 22.5Z" fill="#3DD1DB"/>
                          </svg>
                        <div class="">
                            <p class="tracking-[1.6px] font-normal text-base text-teal-100">TIP</p>
                            <p class="font-second text-sm font-medium text-white-60">Recruiters will be seeing your Education in this order. You can drag and drop each Education using the handle on the left side to suit your preferred order.</p>
                        </div>
                    </div>
                    <div class="divide-y divide-header">
                        <div class="">
                            <div class="flex gap-4 my-5">
                                <div class=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M9 20C8.45 20 7.97917 19.8042 7.5875 19.4125C7.19583 19.0208 7 18.55 7 18C7 17.45 7.19583 16.9792 7.5875 16.5875C7.97917 16.1958 8.45 16 9 16C9.55 16 10.0208 16.1958 10.4125 16.5875C10.8042 16.9792 11 17.45 11 18C11 18.55 10.8042 19.0208 10.4125 19.4125C10.0208 19.8042 9.55 20 9 20ZM15 20C14.45 20 13.9792 19.8042 13.5875 19.4125C13.1958 19.0208 13 18.55 13 18C13 17.45 13.1958 16.9792 13.5875 16.5875C13.9792 16.1958 14.45 16 15 16C15.55 16 16.0208 16.1958 16.4125 16.5875C16.8042 16.9792 17 17.45 17 18C17 18.55 16.8042 19.0208 16.4125 19.4125C16.0208 19.8042 15.55 20 15 20ZM9 14C8.45 14 7.97917 13.8042 7.5875 13.4125C7.19583 13.0208 7 12.55 7 12C7 11.45 7.19583 10.9792 7.5875 10.5875C7.97917 10.1958 8.45 10 9 10C9.55 10 10.0208 10.1958 10.4125 10.5875C10.8042 10.9792 11 11.45 11 12C11 12.55 10.8042 13.0208 10.4125 13.4125C10.0208 13.8042 9.55 14 9 14ZM15 14C14.45 14 13.9792 13.8042 13.5875 13.4125C13.1958 13.0208 13 12.55 13 12C13 11.45 13.1958 10.9792 13.5875 10.5875C13.9792 10.1958 14.45 10 15 10C15.55 10 16.0208 10.1958 16.4125 10.5875C16.8042 10.9792 17 11.45 17 12C17 12.55 16.8042 13.0208 16.4125 13.4125C16.0208 13.8042 15.55 14 15 14ZM9 8C8.45 8 7.97917 7.80417 7.5875 7.4125C7.19583 7.02083 7 6.55 7 6C7 5.45 7.19583 4.97917 7.5875 4.5875C7.97917 4.19583 8.45 4 9 4C9.55 4 10.0208 4.19583 10.4125 4.5875C10.8042 4.97917 11 5.45 11 6C11 6.55 10.8042 7.02083 10.4125 7.4125C10.0208 7.80417 9.55 8 9 8ZM15 8C14.45 8 13.9792 7.80417 13.5875 7.4125C13.1958 7.02083 13 6.55 13 6C13 5.45 13.1958 4.97917 13.5875 4.5875C13.9792 4.19583 14.45 4 15 4C15.55 4 16.0208 4.19583 16.4125 4.5875C16.8042 4.97917 17 5.45 17 6C17 6.55 16.8042 7.02083 16.4125 7.4125C16.0208 7.80417 15.55 8 15 8Z" fill="white" fill-opacity="0.6"/>
                                  </svg></div>
                                <div class="w-full">
                                    <div class="head flex justify-between">
                                        <div class="">
                                            <div class="flex items-center gap-2">
                                                <p class="text-[#3DD1DB] bg-[#3DD1DB]/20 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">BACHELOR'S DEGREE</p>
                                                <p class="text-white bg-white/20 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">GPA 4.32</p>
                                            </div>
                                            <p class="font-bold text-lg text-white">Sistem Informasi</p>
                                            <p class="font-semibold text-sm text-white-80 font-second">BINUS University • Full-time • On-site (Tangerang) </p>
                                        </div>
                                        <div class="text-right">
                                            <p class="font-second text-xs font-normal text-white">Aug 2020 - Aug 2021</p>
                                            <p class="text-xs font-semibold text-[#A5A5A5]">1 YEAR</p>
                                        </div>
                                    </div>
                                    <div class="body flex">
                                        <ul class="list-disc ms-4 font-second text-sm text-white-60 font-normal mt-3">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                            <li>Sed ac orci nec mi maximus tincidunt. Suspendisse blandit mi dui, eu lacinia leo sagittis nec. Nullam facilisis ultricies dolor, in imperdiet dui sagittis eu. </li>
                                            <li>Mauris eu eleifend sapien. Donec rutrum metus non metus scelerisque facilisis. Aliquam eu urna varius, fermentum erat in, pharetra diam. Sed placerat porta dolor vel lacinia.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M19.3 8.925L15.05 4.725L16.45 3.325C16.8333 2.94167 17.3042 2.75 17.8625 2.75C18.4208 2.75 18.8917 2.94167 19.275 3.325L20.675 4.725C21.0583 5.10833 21.2583 5.57083 21.275 6.1125C21.2917 6.65417 21.1083 7.11667 20.725 7.5L19.3 8.925ZM4 21C3.71667 21 3.47917 20.9042 3.2875 20.7125C3.09583 20.5208 3 20.2833 3 20V17.175C3 17.0417 3.025 16.9125 3.075 16.7875C3.125 16.6625 3.2 16.55 3.3 16.45L13.6 6.15L17.85 10.4L7.55 20.7C7.45 20.8 7.3375 20.875 7.2125 20.925C7.0875 20.975 6.95833 21 6.825 21H4Z" fill="#A5A5A5"/>
                                  </svg>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.525 21C6.125 21 5.775 20.85 5.475 20.55C5.175 20.25 5.025 19.9 5.025 19.5V5.25H4.75C4.53333 5.25 4.35417 5.17917 4.2125 5.0375C4.07083 4.89583 4 4.71667 4 4.5C4 4.28333 4.07083 4.10417 4.2125 3.9625C4.35417 3.82083 4.53333 3.75 4.75 3.75H8.7C8.7 3.53333 8.77083 3.35417 8.9125 3.2125C9.05417 3.07083 9.23333 3 9.45 3H14.55C14.7667 3 14.9458 3.07083 15.0875 3.2125C15.2292 3.35417 15.3 3.53333 15.3 3.75H19.25C19.4667 3.75 19.6458 3.82083 19.7875 3.9625C19.9292 4.10417 20 4.28333 20 4.5C20 4.71667 19.9292 4.89583 19.7875 5.0375C19.6458 5.17917 19.4667 5.25 19.25 5.25H18.975V19.5C18.975 19.9 18.825 20.25 18.525 20.55C18.225 20.85 17.875 21 17.475 21H6.525ZM9.175 16.6C9.175 16.8167 9.24583 16.9958 9.3875 17.1375C9.52917 17.2792 9.70833 17.35 9.925 17.35C10.1417 17.35 10.3208 17.2792 10.4625 17.1375C10.6042 16.9958 10.675 16.8167 10.675 16.6V8.125C10.675 7.90833 10.6042 7.72917 10.4625 7.5875C10.3208 7.44583 10.1417 7.375 9.925 7.375C9.70833 7.375 9.52917 7.44583 9.3875 7.5875C9.24583 7.72917 9.175 7.90833 9.175 8.125V16.6ZM13.325 16.6C13.325 16.8167 13.3958 16.9958 13.5375 17.1375C13.6792 17.2792 13.8583 17.35 14.075 17.35C14.2917 17.35 14.4708 17.2792 14.6125 17.1375C14.7542 16.9958 14.825 16.8167 14.825 16.6V8.125C14.825 7.90833 14.7542 7.72917 14.6125 7.5875C14.4708 7.44583 14.2917 7.375 14.075 7.375C13.8583 7.375 13.6792 7.44583 13.5375 7.5875C13.3958 7.72917 13.325 7.90833 13.325 8.125V16.6Z" fill="#A5A5A5"/>
                                  </svg></div>
                            </div>
                        </div>
                        <div class="">
                            <button class="font-second text-sm font-medium w-[90%] m-auto rounded-lg bg-teal-8 text-teal-100 p-4 my-5 flex items-center gap-2 justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                    <path d="M9.66675 10.8333H4.66675V9.16666H9.66675V4.16666H11.3334V9.16666H16.3334V10.8333H11.3334V15.8333H9.66675V10.8333Z" fill="#3DD1DB"/>
                                  </svg> Add Education
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex gap-3 justify-end mt-8 p-5 pb-6">
                <button class="close-x rounded-lg bg-teal-8 text-teal-100 py-2 px-10 font-second text-base">Cancle</button>
                <button class="rounded-lg bg-teal-100 text-teal-8 py-2 px-14 font-second text-base">Save</button>
            </div>
        </div>
    </div>
    <div class="popup popup-attachments border-2 border-header w-[720px] hidden">
        <div class="header bg-header rounded-t-2xl flex justify-between px-5 py-3 items-center">
            <p class="font-normal text-white text-base tracking-[1.6px] flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M9.58333 18.3333C8.30556 18.3333 7.22222 17.8889 6.33333 17C5.44444 16.1111 5 15.0278 5 13.75V4.99999C5 4.08332 5.32639 3.2986 5.97917 2.64582C6.63194 1.99305 7.41667 1.66666 8.33333 1.66666C9.25 1.66666 10.0347 1.99305 10.6875 2.64582C11.3403 3.2986 11.6667 4.08332 11.6667 4.99999V12.9167C11.6667 13.5 11.4653 13.993 11.0625 14.3958C10.6597 14.7986 10.1667 15 9.58333 15C9 15 8.50694 14.7986 8.10417 14.3958C7.70139 13.993 7.5 13.5 7.5 12.9167V5.62499C7.5 5.44443 7.55903 5.29513 7.67708 5.17707C7.79514 5.05902 7.94444 4.99999 8.125 4.99999C8.30556 4.99999 8.45486 5.05902 8.57292 5.17707C8.69097 5.29513 8.75 5.44443 8.75 5.62499V12.9167C8.75 13.1528 8.82986 13.3507 8.98958 13.5104C9.14931 13.6701 9.34722 13.75 9.58333 13.75C9.81944 13.75 10.0174 13.6701 10.1771 13.5104C10.3368 13.3507 10.4167 13.1528 10.4167 12.9167V4.99999C10.4167 4.41666 10.2153 3.9236 9.8125 3.52082C9.40972 3.11805 8.91667 2.91666 8.33333 2.91666C7.75 2.91666 7.25694 3.11805 6.85417 3.52082C6.45139 3.9236 6.25 4.41666 6.25 4.99999V13.75C6.25 14.6667 6.57639 15.4514 7.22917 16.1042C7.88194 16.7569 8.66667 17.0833 9.58333 17.0833C10.5 17.0833 11.2847 16.7569 11.9375 16.1042C12.5903 15.4514 12.9167 14.6667 12.9167 13.75V5.62499C12.9167 5.44443 12.9757 5.29513 13.0938 5.17707C13.2118 5.05902 13.3611 4.99999 13.5417 4.99999C13.7222 4.99999 13.8715 5.05902 13.9896 5.17707C14.1076 5.29513 14.1667 5.44443 14.1667 5.62499V13.75C14.1667 15.0278 13.7222 16.1111 12.8333 17C11.9444 17.8889 10.8611 18.3333 9.58333 18.3333Z" fill="white"/>
              </svg> EDITING ATTACHMENTS</p>
            <p class="close-x cursor-pointer font-second font-medium text-sm text-teal-100">Close x</p>
        </div>
        <div class="body bg-body rounded-b-2xl h-[500px] overflow-y-scroll">
            <div class="divide-y divide-header">
                <div class="p-5">
                    <p class="font-bold text-lg text-white mb-1">Attachments</p>
                    <p class="text-white-60 text-sm font-second font-medium">Here, you can upload your resume or portfolio to showcase your works from past Experiences!</p>
                </div>
                <div class="divide-y divide-header px-5">
                    <div class="flex items-start gap-3 py-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M20.0003 23.3333C20.917 23.3333 21.7017 23.007 22.3545 22.3542C23.0073 21.7014 23.3337 20.9167 23.3337 20C23.3337 19.0833 23.0073 18.2986 22.3545 17.6458C21.7017 16.9931 20.917 16.6667 20.0003 16.6667C19.0837 16.6667 18.2989 16.9931 17.6462 17.6458C16.9934 18.2986 16.667 19.0833 16.667 20C16.667 20.9167 16.9934 21.7014 17.6462 22.3542C18.2989 23.007 19.0837 23.3333 20.0003 23.3333ZM13.3337 30H26.667V29.0417C26.667 28.375 26.4864 27.7639 26.1253 27.2083C25.7642 26.6528 25.2642 26.2361 24.6253 25.9583C23.9031 25.6528 23.16 25.4167 22.3962 25.25C21.6323 25.0833 20.8337 25 20.0003 25C19.167 25 18.3684 25.0833 17.6045 25.25C16.8406 25.4167 16.0975 25.6528 15.3753 25.9583C14.7364 26.2361 14.2364 26.6528 13.8753 27.2083C13.5142 27.7639 13.3337 28.375 13.3337 29.0417V30ZM30.8337 36.6667H9.16699C8.50033 36.6667 7.91699 36.4167 7.41699 35.9167C6.91699 35.4167 6.66699 34.8333 6.66699 34.1667V5.83334C6.66699 5.16668 6.91699 4.58334 7.41699 4.08334C7.91699 3.58334 8.50033 3.33334 9.16699 3.33334H22.3337C22.667 3.33334 22.9934 3.40279 23.3128 3.54168C23.6323 3.68057 23.9031 3.86112 24.1253 4.08334L32.5837 12.5417C32.8059 12.7639 32.9864 13.0347 33.1253 13.3542C33.2642 13.6736 33.3337 14 33.3337 14.3333V34.1667C33.3337 34.8333 33.0837 35.4167 32.5837 35.9167C32.0837 36.4167 31.5003 36.6667 30.8337 36.6667Z" fill="white"/>
                        </svg>
                        <div class="">
                            <p class="text-white font-bold text-lg">Resume*</p>
                            <p class="font-second text-white-60 text-sm font-medium">Keep in mind that some companies still require you to upload your resume in digital copy. However, they will be seeing your profile first, not your resume!</p>
                            <div class="flex items-center gap-2 mt-3">
                                <button class="flex items-center gap-1 py-2 px-4 bg-teal-8 text-teal-100 rounded-lg font-second text-sm font-medium">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M9.16634 15.8333H10.833V12.3542L12.1663 13.6875L13.333 12.5L9.99967 9.16666L6.66634 12.5L7.85384 13.6667L9.16634 12.3542V15.8333ZM4.99967 18.3333C4.54134 18.3333 4.14898 18.1701 3.82259 17.8437C3.4962 17.5174 3.33301 17.125 3.33301 16.6667V3.33332C3.33301 2.87499 3.4962 2.48263 3.82259 2.15624C4.14898 1.82985 4.54134 1.66666 4.99967 1.66666H11.6663L16.6663 6.66666V16.6667C16.6663 17.125 16.5031 17.5174 16.1768 17.8437C15.8504 18.1701 15.458 18.3333 14.9997 18.3333H4.99967ZM10.833 7.49999H14.9997L10.833 3.33332V7.49999Z" fill="#3DD1DB"/>
                                    </svg>
                                    Upload Resume
                                </button>
                                <p class="font-second text-sm font-medium text-white-60">Accepted file is only in PDF. Maximum file size 2 MB.</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-start gap-3 py-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M20.0003 23.3333C20.917 23.3333 21.7017 23.007 22.3545 22.3542C23.0073 21.7014 23.3337 20.9167 23.3337 20C23.3337 19.0833 23.0073 18.2986 22.3545 17.6458C21.7017 16.9931 20.917 16.6667 20.0003 16.6667C19.0837 16.6667 18.2989 16.9931 17.6462 17.6458C16.9934 18.2986 16.667 19.0833 16.667 20C16.667 20.9167 16.9934 21.7014 17.6462 22.3542C18.2989 23.007 19.0837 23.3333 20.0003 23.3333ZM13.3337 30H26.667V29.0417C26.667 28.375 26.4864 27.7639 26.1253 27.2083C25.7642 26.6528 25.2642 26.2361 24.6253 25.9583C23.9031 25.6528 23.16 25.4167 22.3962 25.25C21.6323 25.0833 20.8337 25 20.0003 25C19.167 25 18.3684 25.0833 17.6045 25.25C16.8406 25.4167 16.0975 25.6528 15.3753 25.9583C14.7364 26.2361 14.2364 26.6528 13.8753 27.2083C13.5142 27.7639 13.3337 28.375 13.3337 29.0417V30ZM30.8337 36.6667H9.16699C8.50033 36.6667 7.91699 36.4167 7.41699 35.9167C6.91699 35.4167 6.66699 34.8333 6.66699 34.1667V5.83334C6.66699 5.16668 6.91699 4.58334 7.41699 4.08334C7.91699 3.58334 8.50033 3.33334 9.16699 3.33334H22.3337C22.667 3.33334 22.9934 3.40279 23.3128 3.54168C23.6323 3.68057 23.9031 3.86112 24.1253 4.08334L32.5837 12.5417C32.8059 12.7639 32.9864 13.0347 33.1253 13.3542C33.2642 13.6736 33.3337 14 33.3337 14.3333V34.1667C33.3337 34.8333 33.0837 35.4167 32.5837 35.9167C32.0837 36.4167 31.5003 36.6667 30.8337 36.6667Z" fill="white"/>
                        </svg>
                        <div class="">
                            <p class="text-white font-bold text-lg">Portfolio</p>
                            <p class="font-second text-white-60 text-sm font-medium">Might be required if the job post says so. You can add a link to your portfolio from another website (GitHub, Behance, Google Drive, etc.)</p>
                            <label class="flex items-center gap-3 mt-3">
                                <span class="text-white-60 tracking-[1.4px] font-normal text-sm">LINK</span>
                                <!-- Using form state modifiers, the classes can be identical for every input -->
                                <input type="text" value="www.drive.google.com/file" class="block w-[360px] px-3 py-[10px] bg-header rounded-lg text-sm placeholder-white-60 text-white-60 font-second
                                  focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                                  focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                                "/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex gap-3 justify-end mt-8 p-5 pb-6">
                <button class="close-x rounded-lg bg-teal-8 text-teal-100 py-2 px-10 font-second text-base">Cancle</button>
                <button class="rounded-lg bg-teal-100 text-teal-8 py-2 px-14 font-second text-base">Save</button>
            </div>
        </div>
    </div>
</section>

<%- include('./layouts/footer'); -%>
<script>

    // Open popup on edit button and profile completion

    $("#edit-basic-info, #completion-profile-picture").click(function(){
        $("#popup").removeClass("hidden")
        $(".popup-basic").removeClass("hidden")
    })
    $("#edit-profile-summary, #completion-profile-summary, #button-profile-summary").click(function(){
        $("#popup").removeClass("hidden")
        $(".popup-summary").removeClass("hidden")
    })
    $("#edit-experiences, #completion-experiences, #button-experiences").click(function(){
        $("#popup").removeClass("hidden")
        $(".popup-experiences").removeClass("hidden")
    })
    $("#edit-education, #completion-education, #button-education").click(function(){
        $("#popup").removeClass("hidden")
        $(".popup-education").removeClass("hidden")
    })
    $("#edit-attachment, #completion-resume").click(function(){
        $("#popup").removeClass("hidden")
        $(".popup-attachments").removeClass("hidden")
    })

    // Close button to close popup

    $(".close-x").click(function(){
        $(this).closest('.popup').addClass("hidden")
        $(this).closest('#popup').addClass("hidden")
    })
</script>
